<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<script type="text/javascript">
  this.mm =
  [
    {
      "title": "Back to Basics: Strangles",
      "full_title": "WDIS Season 2: Tom \u0026 Case: Back to Basics: Strangles",
      "media_id": "3932017e92274e4d81a493519a33b7c6",
      "image": "https://s3.amazonaws.com/tastytradepublicmedia/show/87/episode/13204/image/medium/WDIS2_SHOW_140815_VOD.jpg?1408130370",
      "link": "https://www.tastytrade.com/tt/shows/wdis-season-2-tom-case/episodes/13204?locale=en-CA",
      "flashvar": "playerForm=b3580168bcda4cb79e78e4b534f6c84e\u0026autoplay=false\u0026mediaId=3932017e92274e4d81a493519a33b7c6",
      "date": "August 15, 2014"
    },
    {
      "title": "Making Independent Occurences",
      "full_title": "WDIS Season 2: Tom \u0026 Case: Making Independent Occurences",
      "media_id": "bcbbdaa75459448fa201e038df2b8546",
      "image": "https://s3.amazonaws.com/tastytradepublicmedia/show/87/episode/13164/image/medium/WDIS2_SHOW_140814_VOD.jpg?1408045207",
      "link": "https://www.tastytrade.com/tt/shows/wdis-season-2-tom-case/episodes/13164?locale=en-CA",
      "flashvar": "playerForm=b3580168bcda4cb79e78e4b534f6c84e\u0026autoplay=false\u0026mediaId=bcbbdaa75459448fa201e038df2b8546",
      "date": "August 14, 2014"
    },
    {
      "title": "\"Classic\" Porfolios vs. tastytrade Portfolios",
      "full_title": "WDIS Season 2: Tom \u0026 Case: \"Classic\" Porfolios vs. tastytrade Portfolios",
      "media_id": "c0575a79c7a44132b75673a3a7acece2",
      "image": "https://s3.amazonaws.com/tastytradepublicmedia/show/87/episode/13135/image/medium/WDIS2_SHOW_140813_VOD.jpg?1407957529",
      "link": "https://www.tastytrade.com/tt/shows/wdis-season-2-tom-case/episodes/13135?locale=en-CA",
      "flashvar": "playerForm=b3580168bcda4cb79e78e4b534f6c84e\u0026autoplay=false\u0026mediaId=c0575a79c7a44132b75673a3a7acece2",
      "date": "August 13, 2014"
    },
    {
      "title": "Portfolio Allocation Continued",
      "full_title": "WDIS Season 2: Tom \u0026 Case: Portfolio Allocation Continued",
      "media_id": "a5f8a420d36947d9954278da975458eb",
      "image": "https://s3.amazonaws.com/tastytradepublicmedia/show/87/episode/13105/image/medium/WDIS2_SHOW_140812_VOD.jpg?1407871395",
      "link": "https://www.tastytrade.com/tt/shows/wdis-season-2-tom-case/episodes/13105?locale=en-CA",
      "flashvar": "playerForm=b3580168bcda4cb79e78e4b534f6c84e\u0026autoplay=false\u0026mediaId=a5f8a420d36947d9954278da975458eb",
      "date": "August 12, 2014"
    },
    {
      "title": "Portfolio Allocation",
      "full_title": "WDIS Season 2: Tom \u0026 Case: Portfolio Allocation",
      "media_id": "030d554dbbd545f1acce18ae36d6232b",
      "image": "https://s3.amazonaws.com/tastytradepublicmedia/show/87/episode/13073/image/medium/WDIS2_SHOW_140811_VOD.jpg?1407785095",
      "link": "https://www.tastytrade.com/tt/shows/wdis-season-2-tom-case/episodes/13073?locale=en-CA",
      "flashvar": "playerForm=b3580168bcda4cb79e78e4b534f6c84e\u0026autoplay=false\u0026mediaId=030d554dbbd545f1acce18ae36d6232b",
      "date": "August 11, 2014"
    },
    {
      "title": "Criteria For Non-Directional Strangles",
      "full_title": "WDIS Season 2: Tom \u0026 Case: Criteria For Non-Directional Strangles",
      "media_id": "c840ddf9da0647fd8a4f9ca3d5b751ed",
      "image": "https://s3.amazonaws.com/tastytradepublicmedia/show/87/episode/13042/image/medium/WDIS2_SHOW_140808_VOD.jpg?1407526152",
      "link": "https://www.tastytrade.com/tt/shows/wdis-season-2-tom-case/episodes/13042?locale=en-CA",
      "flashvar": "playerForm=b3580168bcda4cb79e78e4b534f6c84e\u0026autoplay=false\u0026mediaId=c840ddf9da0647fd8a4f9ca3d5b751ed",
      "date": "August 8, 2014"
    },
    {
      "title": "Defending the NOB Spread",
      "full_title": "WDIS Season 2: Tom \u0026 Case: Defending the NOB Spread",
      "media_id": "520f29c40f5843bb98f84a394d7e3efa",
      "image": "https://s3.amazonaws.com/tastytradepublicmedia/show/87/episode/13013/image/medium/WDIS2_SHOW_140807_VOD.jpg?1407439626",
      "link": "https://www.tastytrade.com/tt/shows/wdis-season-2-tom-case/episodes/13013?locale=en-CA",
      "flashvar": "playerForm=b3580168bcda4cb79e78e4b534f6c84e\u0026autoplay=false\u0026mediaId=520f29c40f5843bb98f84a394d7e3efa",
      "date": "August 7, 2014"
    },
    {
      "title": "Do The Probabilities Play Out In Earnings?",
      "full_title": "WDIS Season 2: Tom \u0026 Case: Do The Probabilities Play Out In Earnings?",
      "media_id": "d4a902d1d8b846dda1ff872bd52fd1c5",
      "image": "https://s3.amazonaws.com/tastytradepublicmedia/show/87/episode/12981/image/medium/WDIS2_SHOW_140806_VOD.jpg?1407353277",
      "link": "https://www.tastytrade.com/tt/shows/wdis-season-2-tom-case/episodes/12981?locale=en-CA",
      "flashvar": "playerForm=b3580168bcda4cb79e78e4b534f6c84e\u0026autoplay=false\u0026mediaId=d4a902d1d8b846dda1ff872bd52fd1c5",
      "date": "August 6, 2014"
    },
    {
      "title": "Sell The Rumor, Buy The News",
      "full_title": "WDIS Season 2: Tom \u0026 Case: Sell The Rumor, Buy The News",
      "media_id": "6bf5690296504ab4a044cfe854f8a89e",
      "image": "https://s3.amazonaws.com/tastytradepublicmedia/show/87/episode/12953/image/medium/WDIS2_SHOW_140805_VOD.jpg?1407267440",
      "link": "https://www.tastytrade.com/tt/shows/wdis-season-2-tom-case/episodes/12953?locale=en-CA",
      "flashvar": "playerForm=b3580168bcda4cb79e78e4b534f6c84e\u0026autoplay=false\u0026mediaId=6bf5690296504ab4a044cfe854f8a89e",
      "date": "August 5, 2014"
    },
    {
      "title": "Redeployment: Continuing Use of Capital",
      "full_title": "WDIS Season 2: Tom \u0026 Case: Redeployment: Continuing Use of Capital",
      "media_id": "60a68c108c0b4eafb37c951a722702b8",
      "image": "https://s3.amazonaws.com/tastytradepublicmedia/show/87/episode/12921/image/medium/WDIS2_SHOW_140804_VOD.jpg?1407179815",
      "link": "https://www.tastytrade.com/tt/shows/wdis-season-2-tom-case/episodes/12921?locale=en-CA",
      "flashvar": "playerForm=b3580168bcda4cb79e78e4b534f6c84e\u0026autoplay=false\u0026mediaId=60a68c108c0b4eafb37c951a722702b8",
      "date": "August 4, 2014"
    },
    {
      "title": "Optimal Exits",
      "full_title": "WDIS Season 2: Tom \u0026 Case: Optimal Exits",
      "media_id": "62359367ad33481da4db53d9f1a30fb2",
      "image": "https://s3.amazonaws.com/tastytradepublicmedia/show/87/episode/12889/image/medium/WDIS2_SHOW_140801_VOD.jpg?1406921387",
      "link": "https://www.tastytrade.com/tt/shows/wdis-season-2-tom-case/episodes/12889?locale=en-CA",
      "flashvar": "playerForm=b3580168bcda4cb79e78e4b534f6c84e\u0026autoplay=false\u0026mediaId=62359367ad33481da4db53d9f1a30fb2",
      "date": "August 1, 2014"
    },
    {
      "title": "Inverted Strangle ",
      "full_title": "WDIS Season 2: Tom \u0026 Case: Inverted Strangle ",
      "media_id": "aabcab6d948d4c98a9ed4a6a8ca3f7e2",
      "image": "https://s3.amazonaws.com/tastytradepublicmedia/show/87/episode/12858/image/medium/WDIS2_SHOW_140731_VOD.jpg?1406835100",
      "link": "https://www.tastytrade.com/tt/shows/wdis-season-2-tom-case/episodes/12858?locale=en-CA",
      "flashvar": "playerForm=b3580168bcda4cb79e78e4b534f6c84e\u0026autoplay=false\u0026mediaId=aabcab6d948d4c98a9ed4a6a8ca3f7e2",
      "date": "July 31, 2014"
    },
    {
      "title": "Intraday binary events and expected move",
      "full_title": "WDIS Season 2: Tom \u0026 Case: Intraday binary events and expected move",
      "media_id": "cf28ee8556fd4ab0b2634c457498c9e1",
      "image": "https://s3.amazonaws.com/tastytradepublicmedia/show/87/episode/12828/image/medium/WDIS2_SHOW_140730_VOD.jpg?1406748227",
      "link": "https://www.tastytrade.com/tt/shows/wdis-season-2-tom-case/episodes/12828?locale=en-CA",
      "flashvar": "playerForm=b3580168bcda4cb79e78e4b534f6c84e\u0026autoplay=false\u0026mediaId=cf28ee8556fd4ab0b2634c457498c9e1",
      "date": "July 30, 2014"
    },
    {
      "title": "\"Just go for it!\"",
      "full_title": "WDIS Season 2: Tom \u0026 Case: \"Just go for it!\"",
      "media_id": "9f05a7dc808549539e2b7bae13d368e1",
      "image": "https://s3.amazonaws.com/tastytradepublicmedia/show/87/episode/12797/image/medium/WDIS2_SHOW_140729_VOD.jpg?1406661882",
      "link": "https://www.tastytrade.com/tt/shows/wdis-season-2-tom-case/episodes/12797?locale=en-CA",
      "flashvar": "playerForm=b3580168bcda4cb79e78e4b534f6c84e\u0026autoplay=false\u0026mediaId=9f05a7dc808549539e2b7bae13d368e1",
      "date": "July 29, 2014"
    },
    {
      "title": "The \"ins and outs\" of earnings",
      "full_title": "WDIS Season 2: Tom \u0026 Case: The \"ins and outs\" of earnings",
      "media_id": "db2c6672c03b402285b7d40acf42fbed",
      "image": "https://s3.amazonaws.com/tastytradepublicmedia/show/87/episode/12767/image/medium/WDIS2_Seg_140728_VOD.jpg?1406575164",
      "link": "https://www.tastytrade.com/tt/shows/wdis-season-2-tom-case/episodes/12767?locale=en-CA",
      "flashvar": "playerForm=b3580168bcda4cb79e78e4b534f6c84e\u0026autoplay=false\u0026mediaId=db2c6672c03b402285b7d40acf42fbed",
      "date": "July 28, 2014"
    },
    {
      "title": "WDIS Season 2: Tom \u0026 Case",
      "full_title": "WDIS Season 2: Tom \u0026 Case: WDIS Season 2: Tom \u0026 Case",
      "media_id": "3d42d46a7371491a87edbf86ae2f7ba3",
      "image": "https://s3.amazonaws.com/tastytradepublicmedia/show/87/episode/12736/image/medium/WDIS2_SHOW_140725_VOD.jpg?1406316282",
      "link": "https://www.tastytrade.com/tt/shows/wdis-season-2-tom-case/episodes/12736?locale=en-CA",
      "flashvar": "playerForm=b3580168bcda4cb79e78e4b534f6c84e\u0026autoplay=false\u0026mediaId=3d42d46a7371491a87edbf86ae2f7ba3",
      "date": "July 25, 2014"
    },
    {
      "title": "The \"Funky\" Trade",
      "full_title": "WDIS Season 2: Tom \u0026 Case: The \"Funky\" Trade",
      "media_id": "f31b61e76b4e4eef893846b09d40427b",
      "image": "https://s3.amazonaws.com/tastytradepublicmedia/show/87/episode/12704/image/medium/WDIS2_SHOW_140724_VOD.jpg?1406230156",
      "link": "https://www.tastytrade.com/tt/shows/wdis-season-2-tom-case/episodes/12704?locale=en-CA",
      "flashvar": "playerForm=b3580168bcda4cb79e78e4b534f6c84e\u0026autoplay=false\u0026mediaId=f31b61e76b4e4eef893846b09d40427b",
      "date": "July 24, 2014"
    },
    {
      "title": "Earnings Stangles in Monthly Expiration",
      "full_title": "WDIS Season 2: Tom \u0026 Case: Earnings Stangles in Monthly Expiration",
      "media_id": "7ca70a1c14c34d579258d39ee875b297",
      "image": "https://s3.amazonaws.com/tastytradepublicmedia/show/87/episode/12672/image/medium/WDIS2_SHOW_140723_VOD.jpg?1406144395",
      "link": "https://www.tastytrade.com/tt/shows/wdis-season-2-tom-case/episodes/12672?locale=en-CA",
      "flashvar": "playerForm=b3580168bcda4cb79e78e4b534f6c84e\u0026autoplay=false\u0026mediaId=7ca70a1c14c34d579258d39ee875b297",
      "date": "July 23, 2014"
    },
    {
      "title": "AAPL Earnings Strangle",
      "full_title": "WDIS Season 2: Tom \u0026 Case: AAPL Earnings Strangle",
      "media_id": "feb6a5f215e8408c9cb01003b9dc5d91",
      "image": "https://s3.amazonaws.com/tastytradepublicmedia/show/87/episode/12642/image/medium/WDIS2_SHOW_140722_VOD.jpg?1406057581",
      "link": "https://www.tastytrade.com/tt/shows/wdis-season-2-tom-case/episodes/12642?locale=en-CA",
      "flashvar": "playerForm=b3580168bcda4cb79e78e4b534f6c84e\u0026autoplay=false\u0026mediaId=feb6a5f215e8408c9cb01003b9dc5d91",
      "date": "July 22, 2014"
    },
    {
      "title": "Directional Earnings Plays",
      "full_title": "WDIS Season 2: Tom \u0026 Case: Directional Earnings Plays",
      "media_id": "42b16239dc83433c8e9691f9582c4b1d",
      "image": "https://s3.amazonaws.com/tastytradepublicmedia/show/87/episode/12609/image/medium/WDIS2_SHOW_140721_VOD.jpg?1405971055",
      "link": "https://www.tastytrade.com/tt/shows/wdis-season-2-tom-case/episodes/12609?locale=en-CA",
      "flashvar": "playerForm=b3580168bcda4cb79e78e4b534f6c84e\u0026autoplay=false\u0026mediaId=42b16239dc83433c8e9691f9582c4b1d",
      "date": "July 21, 2014"
    },
    {
      "title": "Strong Markets on Expiration Friday",
      "full_title": "WDIS Season 2: Tom \u0026 Case: Strong Markets on Expiration Friday",
      "media_id": "6f55c9503dd3436eac381de81d6ae0da",
      "image": "https://s3.amazonaws.com/tastytradepublicmedia/show/87/episode/12578/image/medium/WDIS2_SHOW_140718_VOD.jpg?1405712294",
      "link": "https://www.tastytrade.com/tt/shows/wdis-season-2-tom-case/episodes/12578?locale=en-CA",
      "flashvar": "playerForm=b3580168bcda4cb79e78e4b534f6c84e\u0026autoplay=false\u0026mediaId=6f55c9503dd3436eac381de81d6ae0da",
      "date": "July 18, 2014"
    },
    {
      "title": "Risk of Down Moves at Market Extremes",
      "full_title": "WDIS Season 2: Tom \u0026 Case: Risk of Down Moves at Market Extremes",
      "media_id": "1cc7f7be097b40d58fdbed55c2282e3b",
      "image": "https://s3.amazonaws.com/tastytradepublicmedia/show/87/episode/12547/image/medium/WDIS2_SHOW_140717_VOD.jpg?1405625117",
      "link": "https://www.tastytrade.com/tt/shows/wdis-season-2-tom-case/episodes/12547?locale=en-CA",
      "flashvar": "playerForm=b3580168bcda4cb79e78e4b534f6c84e\u0026autoplay=false\u0026mediaId=1cc7f7be097b40d58fdbed55c2282e3b",
      "date": "July 17, 2014"
    },
    {
      "title": "\"Get your price or don't take a fill\"",
      "full_title": "WDIS Season 2: Tom \u0026 Case: \"Get your price or don't take a fill\"",
      "media_id": "7e06d89b4b2a4a6c8e5b6b8ce89c1e71",
      "image": "https://s3.amazonaws.com/tastytradepublicmedia/show/87/episode/12512/image/medium/WDIS2_SHOW_140716_VOD.jpg?1405539018",
      "link": "https://www.tastytrade.com/tt/shows/wdis-season-2-tom-case/episodes/12512?locale=en-CA",
      "flashvar": "playerForm=b3580168bcda4cb79e78e4b534f6c84e\u0026autoplay=false\u0026mediaId=7e06d89b4b2a4a6c8e5b6b8ce89c1e71",
      "date": "July 16, 2014"
    },
    {
      "title": "\"That's called NOB scalping!\"",
      "full_title": "WDIS Season 2: Tom \u0026 Case: \"That's called NOB scalping!\"",
      "media_id": "2b3446beb07c4cadbf7350d14dfc4e7e",
      "image": "https://s3.amazonaws.com/tastytradepublicmedia/show/87/episode/12481/image/medium/WDIS2_SHOW_140715_VOD.jpg?1405452701",
      "link": "https://www.tastytrade.com/tt/shows/wdis-season-2-tom-case/episodes/12481?locale=en-CA",
      "flashvar": "playerForm=b3580168bcda4cb79e78e4b534f6c84e\u0026autoplay=false\u0026mediaId=2b3446beb07c4cadbf7350d14dfc4e7e",
      "date": "July 15, 2014"
    },
    {
      "title": "Consistency in Irrational Markets",
      "full_title": "WDIS Season 2: Tom \u0026 Case: Consistency in Irrational Markets",
      "media_id": "03889e166b7f4ee48fc9c337463af7e7",
      "image": "https://s3.amazonaws.com/tastytradepublicmedia/show/87/episode/12453/image/medium/WDIS2_SHOW_140714_VOD.jpg?1405366408",
      "link": "https://www.tastytrade.com/tt/shows/wdis-season-2-tom-case/episodes/12453?locale=en-CA",
      "flashvar": "playerForm=b3580168bcda4cb79e78e4b534f6c84e\u0026autoplay=false\u0026mediaId=03889e166b7f4ee48fc9c337463af7e7",
      "date": "July 14, 2014"
    },
    {
      "title": "Notes Over Bonds Ratio Spread",
      "full_title": "WDIS Season 2: Tom \u0026 Case: Notes Over Bonds Ratio Spread",
      "media_id": "7516b8e4677f4e4a92014666bd7363b3",
      "image": "https://s3.amazonaws.com/tastytradepublicmedia/show/87/episode/12421/image/medium/WDIS2_SHOW_140711_VOD.jpg?1405107421",
      "link": "https://www.tastytrade.com/tt/shows/wdis-season-2-tom-case/episodes/12421?locale=en-CA",
      "flashvar": "playerForm=b3580168bcda4cb79e78e4b534f6c84e\u0026autoplay=false\u0026mediaId=7516b8e4677f4e4a92014666bd7363b3",
      "date": "July 11, 2014"
    },
    {
      "title": "Earnings Checklist",
      "full_title": "WDIS Season 2: Tom \u0026 Case: Earnings Checklist",
      "media_id": "76ccfacb650c4c6fbf41593b8d23972a",
      "image": "https://s3.amazonaws.com/tastytradepublicmedia/show/87/episode/12392/image/medium/WDIS2_SHOW_140710_VOD.jpg?1405021379",
      "link": "https://www.tastytrade.com/tt/shows/wdis-season-2-tom-case/episodes/12392?locale=en-CA",
      "flashvar": "playerForm=b3580168bcda4cb79e78e4b534f6c84e\u0026autoplay=false\u0026mediaId=76ccfacb650c4c6fbf41593b8d23972a",
      "date": "July 10, 2014"
    },
    {
      "title": "Points of Focus",
      "full_title": "WDIS Season 2: Tom \u0026 Case: Points of Focus",
      "media_id": "d5ae8c4ada274969b13454f5baec1d00",
      "image": "https://s3.amazonaws.com/tastytradepublicmedia/show/87/episode/12363/image/medium/WDIS2_SHOW_140709_VOD.jpg?1404933465",
      "link": "https://www.tastytrade.com/tt/shows/wdis-season-2-tom-case/episodes/12363?locale=en-CA",
      "flashvar": "playerForm=b3580168bcda4cb79e78e4b534f6c84e\u0026autoplay=false\u0026mediaId=d5ae8c4ada274969b13454f5baec1d00",
      "date": "July 9, 2014"
    },
    {
      "title": "Low IV: Thinking Outside The Box",
      "full_title": "WDIS Season 2: Tom \u0026 Case: Low IV: Thinking Outside The Box",
      "media_id": "1bf838b52aba4847970bcba7c20b9a0c",
      "image": "https://s3.amazonaws.com/tastytradepublicmedia/show/87/episode/12249/image/medium/WDIS2_SHOW_140701_VOD.jpg?1404242549",
      "link": "https://www.tastytrade.com/tt/shows/wdis-season-2-tom-case/episodes/12249?locale=en-CA",
      "flashvar": "playerForm=b3580168bcda4cb79e78e4b534f6c84e\u0026autoplay=false\u0026mediaId=1bf838b52aba4847970bcba7c20b9a0c",
      "date": "July 1, 2014"
    },
    {
      "title": "WDIS Season 2: Tom \u0026 Case",
      "full_title": "WDIS Season 2: Tom \u0026 Case: WDIS Season 2: Tom \u0026 Case",
      "media_id": "6268713c3284421badf56287438974df",
      "image": "https://s3.amazonaws.com/tastytradepublicmedia/show/87/episode/12223/image/medium/WDIS2_SHOW_140630_VOD.jpg?1404156568",
      "link": "https://www.tastytrade.com/tt/shows/wdis-season-2-tom-case/episodes/12223?locale=en-CA",
      "flashvar": "playerForm=b3580168bcda4cb79e78e4b534f6c84e\u0026autoplay=false\u0026mediaId=6268713c3284421badf56287438974df",
      "date": "June 30, 2014"
    },
    {
      "title": "Hedging Outside the Box",
      "full_title": "WDIS Season 2: Tom \u0026 Case: Hedging Outside the Box",
      "media_id": "d4620960133b45d897302783884aad02",
      "image": "https://s3.amazonaws.com/tastytradepublicmedia/show/87/episode/12145/image/medium/WDIS2_SHOW_140625_VOD.jpg?1403725085",
      "link": "https://www.tastytrade.com/tt/shows/wdis-season-2-tom-case/episodes/12145?locale=en-CA",
      "flashvar": "playerForm=b3580168bcda4cb79e78e4b534f6c84e\u0026autoplay=false\u0026mediaId=d4620960133b45d897302783884aad02",
      "date": "June 25, 2014"
    },
    {
      "title": "How to Approach a Market Reversal",
      "full_title": "WDIS Season 2: Tom \u0026 Case: How to Approach a Market Reversal",
      "media_id": "fab4945215db4d9c90464f8ae4182603",
      "image": "https://s3.amazonaws.com/tastytradepublicmedia/show/87/episode/12115/image/medium/WDIS2_SHOW_140624_VOD.jpg?1403637460",
      "link": "https://www.tastytrade.com/tt/shows/wdis-season-2-tom-case/episodes/12115?locale=en-CA",
      "flashvar": "playerForm=b3580168bcda4cb79e78e4b534f6c84e\u0026autoplay=false\u0026mediaId=fab4945215db4d9c90464f8ae4182603",
      "date": "June 24, 2014"
    },
    {
      "title": "Trade Discussion vs. Market Opinion",
      "full_title": "WDIS Season 2: Tom \u0026 Case: Trade Discussion vs. Market Opinion",
      "media_id": "402b1255f5754c269267c74ef622300e",
      "image": "https://s3.amazonaws.com/tastytradepublicmedia/show/87/episode/12086/image/medium/WDIS2_SHOW_140623_VOD.jpg?1403551694",
      "link": "https://www.tastytrade.com/tt/shows/wdis-season-2-tom-case/episodes/12086?locale=en-CA",
      "flashvar": "playerForm=b3580168bcda4cb79e78e4b534f6c84e\u0026autoplay=false\u0026mediaId=402b1255f5754c269267c74ef622300e",
      "date": "June 23, 2014"
    },
    {
      "title": "When VIX \u0026 SPX Move Together...",
      "full_title": "WDIS Season 2: Tom \u0026 Case: When VIX \u0026 SPX Move Together...",
      "media_id": "5fadf30c38cf4fd2b420d2e0b89ca582",
      "image": "https://s3.amazonaws.com/tastytradepublicmedia/show/87/episode/12057/image/medium/WDIS_SHOW_140620_VOD.jpg?1403292617",
      "link": "https://www.tastytrade.com/tt/shows/wdis-season-2-tom-case/episodes/12057?locale=en-CA",
      "flashvar": "playerForm=b3580168bcda4cb79e78e4b534f6c84e\u0026autoplay=false\u0026mediaId=5fadf30c38cf4fd2b420d2e0b89ca582",
      "date": "June 20, 2014"
    },
    {
      "title": "\"I almost forgot about Risk/Reward ratios\"",
      "full_title": "WDIS Season 2: Tom \u0026 Case: \"I almost forgot about Risk/Reward ratios\"",
      "media_id": "e27e7d749d894f82a0504070a10f2ff6",
      "image": "https://s3.amazonaws.com/tastytradepublicmedia/show/87/episode/12026/image/medium/WDIS2_SHOW_140619_VOD.jpg?1403206996",
      "link": "https://www.tastytrade.com/tt/shows/wdis-season-2-tom-case/episodes/12026?locale=en-CA",
      "flashvar": "playerForm=b3580168bcda4cb79e78e4b534f6c84e\u0026autoplay=false\u0026mediaId=e27e7d749d894f82a0504070a10f2ff6",
      "date": "June 19, 2014"
    },
    {
      "title": "Market Moves During FOMC",
      "full_title": "WDIS Season 2: Tom \u0026 Case: Market Moves During FOMC",
      "media_id": "167cc36a2f4c4531ab9724a734375528",
      "image": "https://s3.amazonaws.com/tastytradepublicmedia/show/87/episode/11999/image/medium/WDIS2_SHOW_140618_VOD.jpg?1403119933",
      "link": "https://www.tastytrade.com/tt/shows/wdis-season-2-tom-case/episodes/11999?locale=en-CA",
      "flashvar": "playerForm=b3580168bcda4cb79e78e4b534f6c84e\u0026autoplay=false\u0026mediaId=167cc36a2f4c4531ab9724a734375528",
      "date": "June 18, 2014"
    },
    {
      "title": "Short Puts as an Asset Class",
      "full_title": "WDIS Season 2: Tom \u0026 Case: Short Puts as an Asset Class",
      "media_id": "80910469897f43199bcaebf08b03f96b",
      "image": "https://s3.amazonaws.com/tastytradepublicmedia/show/87/episode/11972/image/medium/WDIS2_SHOW_140617_VOD.jpg?1403033921",
      "link": "https://www.tastytrade.com/tt/shows/wdis-season-2-tom-case/episodes/11972?locale=en-CA",
      "flashvar": "playerForm=b3580168bcda4cb79e78e4b534f6c84e\u0026autoplay=false\u0026mediaId=80910469897f43199bcaebf08b03f96b",
      "date": "June 17, 2014"
    },
    {
      "title": "Quiet Market, But Active VIX",
      "full_title": "WDIS Season 2: Tom \u0026 Case: Quiet Market, But Active VIX",
      "media_id": "7ec2151e73ac45b293e437b4d078a283",
      "image": "https://s3.amazonaws.com/tastytradepublicmedia/show/87/episode/11945/image/medium/WDIS_SHOW_140616_VOD.jpg?1402947460",
      "link": "https://www.tastytrade.com/tt/shows/wdis-season-2-tom-case/episodes/11945?locale=en-CA",
      "flashvar": "playerForm=b3580168bcda4cb79e78e4b534f6c84e\u0026autoplay=false\u0026mediaId=7ec2151e73ac45b293e437b4d078a283",
      "date": "June 16, 2014"
    },
    {
      "title": "Understanding Gamma",
      "full_title": "WDIS Season 2: Tom \u0026 Case: Understanding Gamma",
      "media_id": "ccc23fa22d454d0fae8c0535fef5b730",
      "image": "https://s3.amazonaws.com/tastytradepublicmedia/show/87/episode/11911/image/medium/WDIS_SHOW_140613_VOD.jpg?1402687837",
      "link": "https://www.tastytrade.com/tt/shows/wdis-season-2-tom-case/episodes/11911?locale=en-CA",
      "flashvar": "playerForm=b3580168bcda4cb79e78e4b534f6c84e\u0026autoplay=false\u0026mediaId=ccc23fa22d454d0fae8c0535fef5b730",
      "date": "June 13, 2014"
    },
    {
      "title": "Rolling Futures",
      "full_title": "WDIS Season 2: Tom \u0026 Case: Rolling Futures",
      "media_id": "331454bf0ea14c8da5bd93bf319d9312",
      "image": "https://s3.amazonaws.com/tastytradepublicmedia/show/87/episode/11885/image/medium/WDIS_SHOW_140612_VOD.jpg?1402602022",
      "link": "https://www.tastytrade.com/tt/shows/wdis-season-2-tom-case/episodes/11885?locale=en-CA",
      "flashvar": "playerForm=b3580168bcda4cb79e78e4b534f6c84e\u0026autoplay=false\u0026mediaId=331454bf0ea14c8da5bd93bf319d9312",
      "date": "June 12, 2014"
    },
    {
      "title": "Staying Small With UVXY",
      "full_title": "WDIS Season 2: Tom \u0026 Case: Staying Small With UVXY",
      "media_id": "fb24490c033f4323988fa28396dc1250",
      "image": "https://s3.amazonaws.com/tastytradepublicmedia/show/87/episode/11853/image/medium/WDIS_SHOW_140611_VOD.jpg?1402515082",
      "link": "https://www.tastytrade.com/tt/shows/wdis-season-2-tom-case/episodes/11853?locale=en-CA",
      "flashvar": "playerForm=b3580168bcda4cb79e78e4b534f6c84e\u0026autoplay=false\u0026mediaId=fb24490c033f4323988fa28396dc1250",
      "date": "June 11, 2014"
    },
    {
      "title": "Fading FB",
      "full_title": "WDIS Season 2: Tom \u0026 Case: Fading FB",
      "media_id": "ca25c664a00b4d9aa69aaf0f08a59fb5",
      "image": "https://s3.amazonaws.com/tastytradepublicmedia/show/87/episode/11822/image/medium/WDIS_SHOW_140610_VOD.jpg?1402431727",
      "link": "https://www.tastytrade.com/tt/shows/wdis-season-2-tom-case/episodes/11822?locale=en-CA",
      "flashvar": "playerForm=b3580168bcda4cb79e78e4b534f6c84e\u0026autoplay=false\u0026mediaId=ca25c664a00b4d9aa69aaf0f08a59fb5",
      "date": "June 10, 2014"
    },
    {
      "title": "Being Short When the Market Drops",
      "full_title": "WDIS Season 2: Tom \u0026 Case: Being Short When the Market Drops",
      "media_id": "568a1a39e7e24f4db05bc39c8662a25b",
      "image": "https://s3.amazonaws.com/tastytradepublicmedia/show/87/episode/11792/image/medium/WDIS_SHOW_140609_VOD.jpg?1402342332",
      "link": "https://www.tastytrade.com/tt/shows/wdis-season-2-tom-case/episodes/11792?locale=en-CA",
      "flashvar": "playerForm=b3580168bcda4cb79e78e4b534f6c84e\u0026autoplay=false\u0026mediaId=568a1a39e7e24f4db05bc39c8662a25b",
      "date": "June 9, 2014"
    },
    {
      "title": "The Short Squeeze",
      "full_title": "WDIS Season 2: Tom \u0026 Case: The Short Squeeze",
      "media_id": "22f70d79b655437e85c51c312f7dcd42",
      "image": "https://s3.amazonaws.com/tastytradepublicmedia/show/87/episode/11764/image/medium/WDIS_SHOW_140606_VOD.jpg?1402083347",
      "link": "https://www.tastytrade.com/tt/shows/wdis-season-2-tom-case/episodes/11764?locale=en-CA",
      "flashvar": "playerForm=b3580168bcda4cb79e78e4b534f6c84e\u0026autoplay=false\u0026mediaId=22f70d79b655437e85c51c312f7dcd42",
      "date": "June 6, 2014"
    },
    {
      "title": "Rolling Up /NQ Puts",
      "full_title": "WDIS Season 2: Tom \u0026 Case: Rolling Up /NQ Puts",
      "media_id": "fefa9af827e34778a4f6be7d59389675",
      "image": "https://s3.amazonaws.com/tastytradepublicmedia/show/87/episode/11743/image/medium/WDIS_SHOW_140605_VOD.jpg?1401996852",
      "link": "https://www.tastytrade.com/tt/shows/wdis-season-2-tom-case/episodes/11743?locale=en-CA",
      "flashvar": "playerForm=b3580168bcda4cb79e78e4b534f6c84e\u0026autoplay=false\u0026mediaId=fefa9af827e34778a4f6be7d59389675",
      "date": "June 5, 2014"
    },
    {
      "title": "Getting Long Precious Metals",
      "full_title": "WDIS Season 2: Tom \u0026 Case: Getting Long Precious Metals",
      "media_id": "55095ff2096e44daa1b196acaf82b8b7",
      "image": "https://s3.amazonaws.com/tastytradepublicmedia/show/87/episode/11708/image/medium/WDIS_SHOW_140604_VOD.jpg?1401910671",
      "link": "https://www.tastytrade.com/tt/shows/wdis-season-2-tom-case/episodes/11708?locale=en-CA",
      "flashvar": "playerForm=b3580168bcda4cb79e78e4b534f6c84e\u0026autoplay=false\u0026mediaId=55095ff2096e44daa1b196acaf82b8b7",
      "date": "June 4, 2014"
    },
    {
      "title": "Anatomy of a Futures Trade",
      "full_title": "WDIS Season 2: Tom \u0026 Case: Anatomy of a Futures Trade",
      "media_id": "e3856a4197ec4453bb950280639a8d95",
      "image": "https://s3.amazonaws.com/tastytradepublicmedia/show/87/episode/11683/image/medium/WDIS_SHOW_140603_VOD.jpg?1401824748",
      "link": "https://www.tastytrade.com/tt/shows/wdis-season-2-tom-case/episodes/11683?locale=en-CA",
      "flashvar": "playerForm=b3580168bcda4cb79e78e4b534f6c84e\u0026autoplay=false\u0026mediaId=e3856a4197ec4453bb950280639a8d95",
      "date": "June 3, 2014"
    },
    {
      "title": "Futures Options",
      "full_title": "WDIS Season 2: Tom \u0026 Case: Futures Options",
      "media_id": "c79a4f2f39dc4e89866068d1cc0627e0",
      "image": "https://s3.amazonaws.com/tastytradepublicmedia/show/87/episode/11656/image/medium/WDIS_SHOW_140602_VOD.jpg?1401739069",
      "link": "https://www.tastytrade.com/tt/shows/wdis-season-2-tom-case/episodes/11656?locale=en-CA",
      "flashvar": "playerForm=b3580168bcda4cb79e78e4b534f6c84e\u0026autoplay=false\u0026mediaId=c79a4f2f39dc4e89866068d1cc0627e0",
      "date": "June 2, 2014"
    },
    {
      "title": "Reducing Capital Requirements",
      "full_title": "WDIS Season 2: Tom \u0026 Case: Reducing Capital Requirements",
      "media_id": "a5677fa910e948fb82876df518de4913",
      "image": "https://s3.amazonaws.com/tastytradepublicmedia/show/87/episode/11625/image/medium/WDIS_SHOW_140530_VOD.jpg?1401479723",
      "link": "https://www.tastytrade.com/tt/shows/wdis-season-2-tom-case/episodes/11625?locale=en-CA",
      "flashvar": "playerForm=b3580168bcda4cb79e78e4b534f6c84e\u0026autoplay=false\u0026mediaId=a5677fa910e948fb82876df518de4913",
      "date": "May 30, 2014"
    },
    {
      "title": "Trading in Poor Market Conditions",
      "full_title": "WDIS Season 2: Tom \u0026 Case: Trading in Poor Market Conditions",
      "media_id": "9af02676f90a4d28887173a6e565a6fe",
      "image": "https://s3.amazonaws.com/tastytradepublicmedia/show/87/episode/11525/image/medium/WDIS_Show_140527_VOD.jpg?1401218914",
      "link": "https://www.tastytrade.com/tt/shows/wdis-season-2-tom-case/episodes/11525?locale=en-CA",
      "flashvar": "playerForm=b3580168bcda4cb79e78e4b534f6c84e\u0026autoplay=false\u0026mediaId=9af02676f90a4d28887173a6e565a6fe",
      "date": "May 27, 2014"
    },
    {
      "title": "Pairs Trading to Mitigate Loss",
      "full_title": "WDIS Season 2: Tom \u0026 Case: Pairs Trading to Mitigate Loss",
      "media_id": "4f975fcdf0d24c0f8b8ea353dc16d0a7",
      "image": "https://s3.amazonaws.com/tastytradepublicmedia/show/87/episode/11491/image/medium/WDIS2_SHOW_140522_VOD.jpg?1400786174",
      "link": "https://www.tastytrade.com/tt/shows/wdis-season-2-tom-case/episodes/11491?locale=en-CA",
      "flashvar": "playerForm=b3580168bcda4cb79e78e4b534f6c84e\u0026autoplay=false\u0026mediaId=4f975fcdf0d24c0f8b8ea353dc16d0a7",
      "date": "May 22, 2014"
    },
    {
      "title": "How to Calculate Futures to Share Equivalents",
      "full_title": "WDIS Season 2: Tom \u0026 Case: How to Calculate Futures to Share Equivalents",
      "media_id": "e79aa68a5fa6411fa6e5c4e97c49a1db",
      "image": "https://s3.amazonaws.com/tastytradepublicmedia/show/87/episode/11462/image/medium/WDIS_Show_140521_VOD.jpg?1400701029",
      "link": "https://www.tastytrade.com/tt/shows/wdis-season-2-tom-case/episodes/11462?locale=en-CA",
      "flashvar": "playerForm=b3580168bcda4cb79e78e4b534f6c84e\u0026autoplay=false\u0026mediaId=e79aa68a5fa6411fa6e5c4e97c49a1db",
      "date": "May 21, 2014"
    },
    {
      "title": "How many shares equals 1 futures contract?",
      "full_title": "WDIS Season 2: Tom \u0026 Case: How many shares equals 1 futures contract?",
      "media_id": "92ca09620e73417a91b34ba38415f3de",
      "image": "https://s3.amazonaws.com/tastytradepublicmedia/show/87/episode/11430/image/medium/WDIS_Show_140520_VOD.jpg?1400614888",
      "link": "https://www.tastytrade.com/tt/shows/wdis-season-2-tom-case/episodes/11430?locale=en-CA",
      "flashvar": "playerForm=b3580168bcda4cb79e78e4b534f6c84e\u0026autoplay=false\u0026mediaId=92ca09620e73417a91b34ba38415f3de",
      "date": "May 20, 2014"
    },
    {
      "title": "Trading based on liquidity",
      "full_title": "WDIS Season 2: Tom \u0026 Case: Trading based on liquidity",
      "media_id": "c84ba1e375a9417280c81c07e49d5db8",
      "image": "https://s3.amazonaws.com/tastytradepublicmedia/show/87/episode/11399/image/medium/WDIS_Show_140519_VOD.jpg?1400528897",
      "link": "https://www.tastytrade.com/tt/shows/wdis-season-2-tom-case/episodes/11399?locale=en-CA",
      "flashvar": "playerForm=b3580168bcda4cb79e78e4b534f6c84e\u0026autoplay=false\u0026mediaId=c84ba1e375a9417280c81c07e49d5db8",
      "date": "May 19, 2014"
    },
    {
      "title": "A New Way To Roll A Calendar Spread",
      "full_title": "WDIS Season 2: Tom \u0026 Case: A New Way To Roll A Calendar Spread",
      "media_id": "345294712cae42e59e4e7653e573db5e",
      "image": "https://s3.amazonaws.com/tastytradepublicmedia/show/87/episode/11364/image/medium/WDIS_Show_140516_VOD.jpg?1400268886",
      "link": "https://www.tastytrade.com/tt/shows/wdis-season-2-tom-case/episodes/11364?locale=en-CA",
      "flashvar": "playerForm=b3580168bcda4cb79e78e4b534f6c84e\u0026autoplay=false\u0026mediaId=345294712cae42e59e4e7653e573db5e",
      "date": "May 16, 2014"
    },
    {
      "title": "Pairs Trading Futures During \"Classic Tape\" Action",
      "full_title": "WDIS Season 2: Tom \u0026 Case: Pairs Trading Futures During \"Classic Tape\" Action",
      "media_id": "d270dc820d2f453dbaf3c4a76ede396c",
      "image": "https://s3.amazonaws.com/tastytradepublicmedia/show/87/episode/11334/image/medium/WDIS_Show_140515_VOD.jpg?1400181317",
      "link": "https://www.tastytrade.com/tt/shows/wdis-season-2-tom-case/episodes/11334?locale=en-CA",
      "flashvar": "playerForm=b3580168bcda4cb79e78e4b534f6c84e\u0026autoplay=false\u0026mediaId=d270dc820d2f453dbaf3c4a76ede396c",
      "date": "May 15, 2014"
    },
    {
      "title": "Futures Pairs Trade",
      "full_title": "WDIS Season 2: Tom \u0026 Case: Futures Pairs Trade",
      "media_id": "d48da5512019414da6ad12203111d4de",
      "image": "https://s3.amazonaws.com/tastytradepublicmedia/show/87/episode/11303/image/medium/WDIS_Show_140514_VOD.jpg?1400095177",
      "link": "https://www.tastytrade.com/tt/shows/wdis-season-2-tom-case/episodes/11303?locale=en-CA",
      "flashvar": "playerForm=b3580168bcda4cb79e78e4b534f6c84e\u0026autoplay=false\u0026mediaId=d48da5512019414da6ad12203111d4de",
      "date": "May 14, 2014"
    },
    {
      "title": "Working /NQ Orders",
      "full_title": "WDIS Season 2: Tom \u0026 Case: Working /NQ Orders",
      "media_id": "6dc7d78a98154bf6953aa37cca58f9ce",
      "image": "https://s3.amazonaws.com/tastytradepublicmedia/show/87/episode/11257/image/medium/WDIS_Show_140513_VOD.jpg?1400009196",
      "link": "https://www.tastytrade.com/tt/shows/wdis-season-2-tom-case/episodes/11257?locale=en-CA",
      "flashvar": "playerForm=b3580168bcda4cb79e78e4b534f6c84e\u0026autoplay=false\u0026mediaId=6dc7d78a98154bf6953aa37cca58f9ce",
      "date": "May 13, 2014"
    },
    {
      "title": "Trading Around New Highs",
      "full_title": "WDIS Season 2: Tom \u0026 Case: Trading Around New Highs",
      "media_id": "fe0d81f79d4b4ec3a01169aba0ef440d",
      "image": "https://s3.amazonaws.com/tastytradepublicmedia/show/87/episode/11224/image/medium/WDIS_Show_140512_VOD.jpg?1399923247",
      "link": "https://www.tastytrade.com/tt/shows/wdis-season-2-tom-case/episodes/11224?locale=en-CA",
      "flashvar": "playerForm=b3580168bcda4cb79e78e4b534f6c84e\u0026autoplay=false\u0026mediaId=fe0d81f79d4b4ec3a01169aba0ef440d",
      "date": "May 12, 2014"
    },
    {
      "title": "Where Do I Start? with Trader Case",
      "full_title": "WDIS Season 2: Tom \u0026 Case: Where Do I Start? with Trader Case",
      "media_id": "58583a59ce4d4c6a94bd4b94ac2af62d",
      "image": "https://s3.amazonaws.com/tastytradepublicmedia/show/87/episode/11193/image/medium/WDIS_2_Show_140509_VOD.jpg?1399663171",
      "link": "https://www.tastytrade.com/tt/shows/wdis-season-2-tom-case/episodes/11193?locale=en-CA",
      "flashvar": "playerForm=b3580168bcda4cb79e78e4b534f6c84e\u0026autoplay=false\u0026mediaId=58583a59ce4d4c6a94bd4b94ac2af62d",
      "date": "May 9, 2014"
    },
    {
      "title": "Scalpers' Dilemma",
      "full_title": "WDIS Season 2: Tom \u0026 Case: Scalpers' Dilemma",
      "media_id": "910f55f57ce74b16b96dc5bbd034121e",
      "image": "https://s3.amazonaws.com/tastytradepublicmedia/show/87/episode/11169/image/medium/WDIS_Show_140508_VOD.jpg?1399577522",
      "link": "https://www.tastytrade.com/tt/shows/wdis-season-2-tom-case/episodes/11169?locale=en-CA",
      "flashvar": "playerForm=b3580168bcda4cb79e78e4b534f6c84e\u0026autoplay=false\u0026mediaId=910f55f57ce74b16b96dc5bbd034121e",
      "date": "May 8, 2014"
    },
    {
      "title": "Market Awareness: Scalping Futures",
      "full_title": "WDIS Season 2: Tom \u0026 Case: Market Awareness: Scalping Futures",
      "media_id": "109991bfb7e14ee89b2c068306d17d1b",
      "image": "https://s3.amazonaws.com/tastytradepublicmedia/show/87/episode/11137/image/medium/WDIS_Show_140507_VOD.jpg?1399490168",
      "link": "https://www.tastytrade.com/tt/shows/wdis-season-2-tom-case/episodes/11137?locale=en-CA",
      "flashvar": "playerForm=b3580168bcda4cb79e78e4b534f6c84e\u0026autoplay=false\u0026mediaId=109991bfb7e14ee89b2c068306d17d1b",
      "date": "May 7, 2014"
    },
    {
      "title": "Points, Ticks and Futures Relationships",
      "full_title": "WDIS Season 2: Tom \u0026 Case: Points, Ticks and Futures Relationships",
      "media_id": "ae52a00c0bf5493faa72f9538d33a2ce",
      "image": "https://s3.amazonaws.com/tastytradepublicmedia/show/87/episode/11108/image/medium/WDIS_Show_140506_VOD.jpg?1399403784",
      "link": "https://www.tastytrade.com/tt/shows/wdis-season-2-tom-case/episodes/11108?locale=en-CA",
      "flashvar": "playerForm=b3580168bcda4cb79e78e4b534f6c84e\u0026autoplay=false\u0026mediaId=ae52a00c0bf5493faa72f9538d33a2ce",
      "date": "May 6, 2014"
    },
    {
      "title": "Case Gets the Green Light to Trade /ES",
      "full_title": "WDIS Season 2: Tom \u0026 Case: Case Gets the Green Light to Trade /ES",
      "media_id": "a677a7a401744f0e96caa87fa64c2ac9",
      "image": "https://s3.amazonaws.com/tastytradepublicmedia/show/87/episode/11079/image/medium/WDIS_140505_VOD.jpg?1399318159",
      "link": "https://www.tastytrade.com/tt/shows/wdis-season-2-tom-case/episodes/11079?locale=en-CA",
      "flashvar": "playerForm=b3580168bcda4cb79e78e4b534f6c84e\u0026autoplay=false\u0026mediaId=a677a7a401744f0e96caa87fa64c2ac9",
      "date": "May 5, 2014"
    },
    {
      "title": "The Relationship Between Stock \u0026 Futures",
      "full_title": "WDIS Season 2: Tom \u0026 Case: The Relationship Between Stock \u0026 Futures",
      "media_id": "4457134935e544dfa0a69108c08aba90",
      "image": "https://s3.amazonaws.com/tastytradepublicmedia/show/87/episode/11048/image/medium/WDIS_Show_140502_VOD.jpg?1399058438",
      "link": "https://www.tastytrade.com/tt/shows/wdis-season-2-tom-case/episodes/11048?locale=en-CA",
      "flashvar": "playerForm=b3580168bcda4cb79e78e4b534f6c84e\u0026autoplay=false\u0026mediaId=4457134935e544dfa0a69108c08aba90",
      "date": "May 2, 2014"
    },
    {
      "title": "Futures Are Just Big ETFs",
      "full_title": "WDIS Season 2: Tom \u0026 Case: Futures Are Just Big ETFs",
      "media_id": "227ab323c2924667a30b67131978c624",
      "image": "https://s3.amazonaws.com/tastytradepublicmedia/show/87/episode/11017/image/medium/WDIS_Show_140501_VOD.jpg?1398971953",
      "link": "https://www.tastytrade.com/tt/shows/wdis-season-2-tom-case/episodes/11017?locale=en-CA",
      "flashvar": "playerForm=b3580168bcda4cb79e78e4b534f6c84e\u0026autoplay=false\u0026mediaId=227ab323c2924667a30b67131978c624",
      "date": "May 1, 2014"
    },
    {
      "title": "Scalping Post-Fed Announcement",
      "full_title": "WDIS Season 2: Tom \u0026 Case: Scalping Post-Fed Announcement",
      "media_id": "c74904336fac4f49a8b1ccd1645aad14",
      "image": "https://s3.amazonaws.com/tastytradepublicmedia/show/87/episode/10986/image/medium/WDIS_SHOW_140430_VOD.jpg?1398885438",
      "link": "https://www.tastytrade.com/tt/shows/wdis-season-2-tom-case/episodes/10986?locale=en-CA",
      "flashvar": "playerForm=b3580168bcda4cb79e78e4b534f6c84e\u0026autoplay=false\u0026mediaId=c74904336fac4f49a8b1ccd1645aad14",
      "date": "April 30, 2014"
    },
    {
      "title": "Salvaging a Bad Futures Scalp",
      "full_title": "WDIS Season 2: Tom \u0026 Case: Salvaging a Bad Futures Scalp",
      "media_id": "491c14330825487585e67ebdb02d4606",
      "image": "https://s3.amazonaws.com/tastytradepublicmedia/show/87/episode/10956/image/medium/WDIS_Show_140429_VOD.jpg?1398799650",
      "link": "https://www.tastytrade.com/tt/shows/wdis-season-2-tom-case/episodes/10956?locale=en-CA",
      "flashvar": "playerForm=b3580168bcda4cb79e78e4b534f6c84e\u0026autoplay=false\u0026mediaId=491c14330825487585e67ebdb02d4606",
      "date": "April 29, 2014"
    },
    {
      "title": "/NQ Range Significance",
      "full_title": "WDIS Season 2: Tom \u0026 Case: /NQ Range Significance",
      "media_id": "689561f0110f4b0482c6a37afd69883b",
      "image": "https://s3.amazonaws.com/tastytradepublicmedia/show/87/episode/10927/image/medium/WDIS_SHOW_140428_VOD.jpg?1398713547",
      "link": "https://www.tastytrade.com/tt/shows/wdis-season-2-tom-case/episodes/10927?locale=en-CA",
      "flashvar": "playerForm=b3580168bcda4cb79e78e4b534f6c84e\u0026autoplay=false\u0026mediaId=689561f0110f4b0482c6a37afd69883b",
      "date": "April 28, 2014"
    },
    {
      "title": "Case's Most Active Week",
      "full_title": "WDIS Season 2: Tom \u0026 Case: Case's Most Active Week",
      "media_id": "0252969d02a34346948b8a04d83d8499",
      "image": "https://s3.amazonaws.com/tastytradepublicmedia/show/87/episode/10889/image/medium/WDIS_Show_140425_VOD.jpg?1398453930",
      "link": "https://www.tastytrade.com/tt/shows/wdis-season-2-tom-case/episodes/10889?locale=en-CA",
      "flashvar": "playerForm=b3580168bcda4cb79e78e4b534f6c84e\u0026autoplay=false\u0026mediaId=0252969d02a34346948b8a04d83d8499",
      "date": "April 25, 2014"
    },
    {
      "title": "Pandora Earnings Strangle",
      "full_title": "WDIS Season 2: Tom \u0026 Case: Pandora Earnings Strangle",
      "media_id": "eaa3d637a4054c8c8b49b297b2ca5037",
      "image": "https://s3.amazonaws.com/tastytradepublicmedia/show/87/episode/10860/image/medium/WDIS_140424_VOD.jpg?1398366975",
      "link": "https://www.tastytrade.com/tt/shows/wdis-season-2-tom-case/episodes/10860?locale=en-CA",
      "flashvar": "playerForm=b3580168bcda4cb79e78e4b534f6c84e\u0026autoplay=false\u0026mediaId=eaa3d637a4054c8c8b49b297b2ca5037",
      "date": "April 24, 2014"
    },
    {
      "title": "Taking Advantage of Binary Events",
      "full_title": "WDIS Season 2: Tom \u0026 Case: Taking Advantage of Binary Events",
      "media_id": "e44474d464e44607aef3b6b1e28286f7",
      "image": "https://s3.amazonaws.com/tastytradepublicmedia/show/87/episode/10830/image/medium/WDIS_140423_VOD.jpg?1398281743",
      "link": "https://www.tastytrade.com/tt/shows/wdis-season-2-tom-case/episodes/10830?locale=en-CA",
      "flashvar": "playerForm=b3580168bcda4cb79e78e4b534f6c84e\u0026autoplay=false\u0026mediaId=e44474d464e44607aef3b6b1e28286f7",
      "date": "April 23, 2014"
    },
    {
      "title": "Looking at /NQ From Both Sides",
      "full_title": "WDIS Season 2: Tom \u0026 Case: Looking at /NQ From Both Sides",
      "media_id": "835d32a09b43448e863389a615f46998",
      "image": "https://s3.amazonaws.com/tastytradepublicmedia/show/87/episode/10798/image/medium/WDIS_Show_140422_VOD.jpg?1398194286",
      "link": "https://www.tastytrade.com/tt/shows/wdis-season-2-tom-case/episodes/10798?locale=en-CA",
      "flashvar": "playerForm=b3580168bcda4cb79e78e4b534f6c84e\u0026autoplay=false\u0026mediaId=835d32a09b43448e863389a615f46998",
      "date": "April 22, 2014"
    },
    {
      "title": "Points vs. Ticks",
      "full_title": "WDIS Season 2: Tom \u0026 Case: Points vs. Ticks",
      "media_id": "b4b4e4f206ac43328687a0eeccbd5c98",
      "image": "https://s3.amazonaws.com/tastytradepublicmedia/show/87/episode/10733/image/medium/WDIS2_Seg_140417_VOD.jpg?1397762338",
      "link": "https://www.tastytrade.com/tt/shows/wdis-season-2-tom-case/episodes/10733?locale=en-CA",
      "flashvar": "playerForm=b3580168bcda4cb79e78e4b534f6c84e\u0026autoplay=false\u0026mediaId=b4b4e4f206ac43328687a0eeccbd5c98",
      "date": "April 17, 2014"
    },
    {
      "title": "Scalping Round 2",
      "full_title": "WDIS Season 2: Tom \u0026 Case: Scalping Round 2",
      "media_id": "cfb0af36ff334dfd8e6ee9a1a768fc4f",
      "image": "https://s3.amazonaws.com/tastytradepublicmedia/show/87/episode/10700/image/medium/WDIS_Seg_140416_VOD.jpg?1397675832",
      "link": "https://www.tastytrade.com/tt/shows/wdis-season-2-tom-case/episodes/10700?locale=en-CA",
      "flashvar": "playerForm=b3580168bcda4cb79e78e4b534f6c84e\u0026autoplay=false\u0026mediaId=cfb0af36ff334dfd8e6ee9a1a768fc4f",
      "date": "April 16, 2014"
    },
    {
      "title": "First Futures Trade",
      "full_title": "WDIS Season 2: Tom \u0026 Case: First Futures Trade",
      "media_id": "f980a67bca71408381d18e7019333951",
      "image": "https://s3.amazonaws.com/tastytradepublicmedia/show/87/episode/10665/image/medium/WDIS_SHOW_140415_VOD.jpg?1397591740",
      "link": "https://www.tastytrade.com/tt/shows/wdis-season-2-tom-case/episodes/10665?locale=en-CA",
      "flashvar": "playerForm=b3580168bcda4cb79e78e4b534f6c84e\u0026autoplay=false\u0026mediaId=f980a67bca71408381d18e7019333951",
      "date": "April 15, 2014"
    },
    {
      "title": "Scalping - Baby Steps",
      "full_title": "WDIS Season 2: Tom \u0026 Case: Scalping - Baby Steps",
      "media_id": "1c6e380f6968470b86193b9434bee1d5",
      "image": "https://s3.amazonaws.com/tastytradepublicmedia/show/87/episode/10634/image/medium/WDIS2_Show_140414_VOD.jpg?1397503845",
      "link": "https://www.tastytrade.com/tt/shows/wdis-season-2-tom-case/episodes/10634?locale=en-CA",
      "flashvar": "playerForm=b3580168bcda4cb79e78e4b534f6c84e\u0026autoplay=false\u0026mediaId=1c6e380f6968470b86193b9434bee1d5",
      "date": "April 14, 2014"
    },
    {
      "title": "Market Awareness 101",
      "full_title": "WDIS Season 2: Tom \u0026 Case: Market Awareness 101",
      "media_id": "a4d8083a8aa84cc2852af1e4f6011ee1",
      "image": "https://s3.amazonaws.com/tastytradepublicmedia/show/87/episode/10591/image/medium/WDIS2_Show_140411_VOD.jpg?1397244289",
      "link": "https://www.tastytrade.com/tt/shows/wdis-season-2-tom-case/episodes/10591?locale=en-CA",
      "flashvar": "playerForm=b3580168bcda4cb79e78e4b534f6c84e\u0026autoplay=false\u0026mediaId=a4d8083a8aa84cc2852af1e4f6011ee1",
      "date": "April 11, 2014"
    },
    {
      "title": "How to Trade Huge Movement Days",
      "full_title": "WDIS Season 2: Tom \u0026 Case: How to Trade Huge Movement Days",
      "media_id": "5d743922cc46445885f9d62e1d709914",
      "image": "https://s3.amazonaws.com/tastytradepublicmedia/show/87/episode/10563/image/medium/WDIS_Show_140410_VOD.jpg?1397157839",
      "link": "https://www.tastytrade.com/tt/shows/wdis-season-2-tom-case/episodes/10563?locale=en-CA",
      "flashvar": "playerForm=b3580168bcda4cb79e78e4b534f6c84e\u0026autoplay=false\u0026mediaId=5d743922cc46445885f9d62e1d709914",
      "date": "April 10, 2014"
    },
    {
      "title": "Earnings Trade A to Z",
      "full_title": "WDIS Season 2: Tom \u0026 Case: Earnings Trade A to Z",
      "media_id": "42bde2f8484a44f28e6eeec4fcd049f5",
      "image": "https://s3.amazonaws.com/tastytradepublicmedia/show/87/episode/10533/image/medium/WDIS2_Show_140409_VOD.jpg?1397071179",
      "link": "https://www.tastytrade.com/tt/shows/wdis-season-2-tom-case/episodes/10533?locale=en-CA",
      "flashvar": "playerForm=b3580168bcda4cb79e78e4b534f6c84e\u0026autoplay=false\u0026mediaId=42bde2f8484a44f28e6eeec4fcd049f5",
      "date": "April 9, 2014"
    },
    {
      "title": "Short Call Substitute A to Z",
      "full_title": "WDIS Season 2: Tom \u0026 Case: Short Call Substitute A to Z",
      "media_id": "79757b8e6db8451e9efe3e8e5e78721a",
      "image": "https://s3.amazonaws.com/tastytradepublicmedia/show/87/episode/10498/image/medium/WDIS_Show_140408_VOD.jpg?1396984823",
      "link": "https://www.tastytrade.com/tt/shows/wdis-season-2-tom-case/episodes/10498?locale=en-CA",
      "flashvar": "playerForm=b3580168bcda4cb79e78e4b534f6c84e\u0026autoplay=false\u0026mediaId=79757b8e6db8451e9efe3e8e5e78721a",
      "date": "April 8, 2014"
    },
    {
      "title": "Pairs Trading A to Z",
      "full_title": "WDIS Season 2: Tom \u0026 Case: Pairs Trading A to Z",
      "media_id": "39adfe6efce1405284b6d549df037d58",
      "image": "https://s3.amazonaws.com/tastytradepublicmedia/show/87/episode/10467/image/medium/WDIS_Show_140407_VOD.jpg?1396899502",
      "link": "https://www.tastytrade.com/tt/shows/wdis-season-2-tom-case/episodes/10467?locale=en-CA",
      "flashvar": "playerForm=b3580168bcda4cb79e78e4b534f6c84e\u0026autoplay=false\u0026mediaId=39adfe6efce1405284b6d549df037d58",
      "date": "April 7, 2014"
    },
    {
      "title": "Something's Gotta Give",
      "full_title": "WDIS Season 2: Tom \u0026 Case: Something's Gotta Give",
      "media_id": "ff678aff844f4458892262eee173b5ec",
      "image": "https://s3.amazonaws.com/tastytradepublicmedia/show/87/episode/10315/image/medium/WDIS_Show_140328_VOD.jpg?1396034179",
      "link": "https://www.tastytrade.com/tt/shows/wdis-season-2-tom-case/episodes/10315?locale=en-CA",
      "flashvar": "playerForm=b3580168bcda4cb79e78e4b534f6c84e\u0026autoplay=false\u0026mediaId=ff678aff844f4458892262eee173b5ec",
      "date": "March 28, 2014"
    },
    {
      "title": "Follow the Leader",
      "full_title": "WDIS Season 2: Tom \u0026 Case: Follow the Leader",
      "media_id": "7b68f598bc434e71ab9c41209fcd1f72",
      "image": "https://s3.amazonaws.com/tastytradepublicmedia/show/87/episode/10289/image/medium/WDIS_Show_140327_VOD.jpg?1395948667",
      "link": "https://www.tastytrade.com/tt/shows/wdis-season-2-tom-case/episodes/10289?locale=en-CA",
      "flashvar": "playerForm=b3580168bcda4cb79e78e4b534f6c84e\u0026autoplay=false\u0026mediaId=7b68f598bc434e71ab9c41209fcd1f72",
      "date": "March 27, 2014"
    },
    {
      "title": "TWTR Directional Calendar",
      "full_title": "WDIS Season 2: Tom \u0026 Case: TWTR Directional Calendar",
      "media_id": "aa3b743b9c144a60ba76e3b09686dad1",
      "image": "https://s3.amazonaws.com/tastytradepublicmedia/show/87/episode/10264/image/medium/WDIS_Show_140326_VOD.jpg?1395861358",
      "link": "https://www.tastytrade.com/tt/shows/wdis-season-2-tom-case/episodes/10264?locale=en-CA",
      "flashvar": "playerForm=b3580168bcda4cb79e78e4b534f6c84e\u0026autoplay=false\u0026mediaId=aa3b743b9c144a60ba76e3b09686dad1",
      "date": "March 26, 2014"
    },
    {
      "title": "2 Trades and an Earnings Play",
      "full_title": "WDIS Season 2: Tom \u0026 Case: 2 Trades and an Earnings Play",
      "media_id": "8f1a830f85d54e0d9a005141de8c6a4f",
      "image": "https://s3.amazonaws.com/tastytradepublicmedia/show/87/episode/10236/image/medium/WDIS_Seg_140325_VOD.jpg?1395775687",
      "link": "https://www.tastytrade.com/tt/shows/wdis-season-2-tom-case/episodes/10236?locale=en-CA",
      "flashvar": "playerForm=b3580168bcda4cb79e78e4b534f6c84e\u0026autoplay=false\u0026mediaId=8f1a830f85d54e0d9a005141de8c6a4f",
      "date": "March 25, 2014"
    },
    {
      "title": "TWTR Iron Condor",
      "full_title": "WDIS Season 2: Tom \u0026 Case: TWTR Iron Condor",
      "media_id": "aad23fc747444810ac2c42a5b0f4b926",
      "image": "https://s3.amazonaws.com/tastytradepublicmedia/show/87/episode/10206/image/medium/WDIS_SHOW_140324_VOD.jpg?1395688551",
      "link": "https://www.tastytrade.com/tt/shows/wdis-season-2-tom-case/episodes/10206?locale=en-CA",
      "flashvar": "playerForm=b3580168bcda4cb79e78e4b534f6c84e\u0026autoplay=false\u0026mediaId=aad23fc747444810ac2c42a5b0f4b926",
      "date": "March 24, 2014"
    },
    {
      "title": "Short Stock in XRT",
      "full_title": "WDIS Season 2: Tom \u0026 Case: Short Stock in XRT",
      "media_id": "f55b350cbefe45659620dabd4405e4b8",
      "image": "https://s3.amazonaws.com/tastytradepublicmedia/show/87/episode/10172/image/medium/WDIS_Show_140321_VOD.jpg?1395429908",
      "link": "https://www.tastytrade.com/tt/shows/wdis-season-2-tom-case/episodes/10172?locale=en-CA",
      "flashvar": "playerForm=b3580168bcda4cb79e78e4b534f6c84e\u0026autoplay=false\u0026mediaId=f55b350cbefe45659620dabd4405e4b8",
      "date": "March 21, 2014"
    },
    {
      "title": "Call Spread in HPQ",
      "full_title": "WDIS Season 2: Tom \u0026 Case: Call Spread in HPQ",
      "media_id": "05190607bdfc4182ba4ba2a49f48b031",
      "image": "https://s3.amazonaws.com/tastytradepublicmedia/show/87/episode/10139/image/medium/WDIS_Show_140320_VOD.jpg?1395343223",
      "link": "https://www.tastytrade.com/tt/shows/wdis-season-2-tom-case/episodes/10139?locale=en-CA",
      "flashvar": "playerForm=b3580168bcda4cb79e78e4b534f6c84e\u0026autoplay=false\u0026mediaId=05190607bdfc4182ba4ba2a49f48b031",
      "date": "March 20, 2014"
    },
    {
      "title": "Volatility Products",
      "full_title": "WDIS Season 2: Tom \u0026 Case: Volatility Products",
      "media_id": "d3ac7bc7e99e4d3eb48d03918ec5e3fc",
      "image": "https://s3.amazonaws.com/tastytradepublicmedia/show/87/episode/10108/image/medium/WDIS_SHOW_140319_VOD.jpg?1395256508",
      "link": "https://www.tastytrade.com/tt/shows/wdis-season-2-tom-case/episodes/10108?locale=en-CA",
      "flashvar": "playerForm=b3580168bcda4cb79e78e4b534f6c84e\u0026autoplay=false\u0026mediaId=d3ac7bc7e99e4d3eb48d03918ec5e3fc",
      "date": "March 19, 2014"
    },
    {
      "title": "Calendar Spreads in Volatility Indices",
      "full_title": "WDIS Season 2: Tom \u0026 Case: Calendar Spreads in Volatility Indices",
      "media_id": "46f4c455d6994cbab567f60616baf8fc",
      "image": "https://s3.amazonaws.com/tastytradepublicmedia/show/87/episode/10078/image/medium/WDIS2_Show_140318_VOD.jpg?1395172277",
      "link": "https://www.tastytrade.com/tt/shows/wdis-season-2-tom-case/episodes/10078?locale=en-CA",
      "flashvar": "playerForm=b3580168bcda4cb79e78e4b534f6c84e\u0026autoplay=false\u0026mediaId=46f4c455d6994cbab567f60616baf8fc",
      "date": "March 18, 2014"
    },
    {
      "title": "GM Short Strangle",
      "full_title": "WDIS Season 2: Tom \u0026 Case: GM Short Strangle",
      "media_id": "ba36285f43104e2c8bcab8d24c0845a8",
      "image": "https://s3.amazonaws.com/tastytradepublicmedia/show/87/episode/10048/image/medium/WDIS2_Show_140317_VOD.jpg?1395084842",
      "link": "https://www.tastytrade.com/tt/shows/wdis-season-2-tom-case/episodes/10048?locale=en-CA",
      "flashvar": "playerForm=b3580168bcda4cb79e78e4b534f6c84e\u0026autoplay=false\u0026mediaId=ba36285f43104e2c8bcab8d24c0845a8",
      "date": "March 17, 2014"
    },
    {
      "title": "Picture Perfect Earnings Play ",
      "full_title": "WDIS Season 2: Tom \u0026 Case: Picture Perfect Earnings Play ",
      "media_id": "01d0f692da3f41768d975b886c6c82f6",
      "image": "https://s3.amazonaws.com/tastytradepublicmedia/show/87/episode/10017/image/medium/WDIS_Show_140314_VOD.jpg?1394824682",
      "link": "https://www.tastytrade.com/tt/shows/wdis-season-2-tom-case/episodes/10017?locale=en-CA",
      "flashvar": "playerForm=b3580168bcda4cb79e78e4b534f6c84e\u0026autoplay=false\u0026mediaId=01d0f692da3f41768d975b886c6c82f6",
      "date": "March 14, 2014"
    },
    {
      "title": "What's Different in a Down Day?",
      "full_title": "WDIS Season 2: Tom \u0026 Case: What's Different in a Down Day?",
      "media_id": "0744858294fc4955bc347717f341cc37",
      "image": "https://s3.amazonaws.com/tastytradepublicmedia/show/87/episode/9984/image/medium/WDIS_Show_140313_VOD.jpg?1394738997",
      "link": "https://www.tastytrade.com/tt/shows/wdis-season-2-tom-case/episodes/9984?locale=en-CA",
      "flashvar": "playerForm=b3580168bcda4cb79e78e4b534f6c84e\u0026autoplay=false\u0026mediaId=0744858294fc4955bc347717f341cc37",
      "date": "March 13, 2014"
    },
    {
      "title": "GOGO Earnings Play",
      "full_title": "WDIS Season 2: Tom \u0026 Case: GOGO Earnings Play",
      "media_id": "e52aceaee61a43f6849cb012b6a3a391",
      "image": "https://s3.amazonaws.com/tastytradepublicmedia/show/87/episode/9952/image/medium/WDIS_Show_140312_VOD.jpg?1394651781",
      "link": "https://www.tastytrade.com/tt/shows/wdis-season-2-tom-case/episodes/9952?locale=en-CA",
      "flashvar": "playerForm=b3580168bcda4cb79e78e4b534f6c84e\u0026autoplay=false\u0026mediaId=e52aceaee61a43f6849cb012b6a3a391",
      "date": "March 12, 2014"
    },
    {
      "title": "Commonly Used Tom Terms",
      "full_title": "WDIS Season 2: Tom \u0026 Case: Commonly Used Tom Terms",
      "media_id": "96e22c60d93d42efaef0c5a59468a5e1",
      "image": "https://s3.amazonaws.com/tastytradepublicmedia/show/87/episode/9917/image/medium/WDIS_Show_140311_VOD.jpg?1394565458",
      "link": "https://www.tastytrade.com/tt/shows/wdis-season-2-tom-case/episodes/9917?locale=en-CA",
      "flashvar": "playerForm=b3580168bcda4cb79e78e4b534f6c84e\u0026autoplay=false\u0026mediaId=96e22c60d93d42efaef0c5a59468a5e1",
      "date": "March 11, 2014"
    },
    {
      "title": "XLV Strangle vs. Iron Condor",
      "full_title": "WDIS Season 2: Tom \u0026 Case: XLV Strangle vs. Iron Condor",
      "media_id": "b7fbeac58e8041329951997943c83983",
      "image": "https://s3.amazonaws.com/tastytradepublicmedia/show/87/episode/9886/image/medium/WDIS_Show_140310_VOD.jpg?1394481047",
      "link": "https://www.tastytrade.com/tt/shows/wdis-season-2-tom-case/episodes/9886?locale=en-CA",
      "flashvar": "playerForm=b3580168bcda4cb79e78e4b534f6c84e\u0026autoplay=false\u0026mediaId=b7fbeac58e8041329951997943c83983",
      "date": "March 10, 2014"
    },
    {
      "title": "Executing a Jade Lizard on dough",
      "full_title": "WDIS Season 2: Tom \u0026 Case: Executing a Jade Lizard on dough",
      "media_id": "551eeac3d6d84c03b0de3868d4269842",
      "image": "https://s3.amazonaws.com/tastytradepublicmedia/show/87/episode/9851/image/medium/WDIS_Show_140307_VOD.jpg?1394224405",
      "link": "https://www.tastytrade.com/tt/shows/wdis-season-2-tom-case/episodes/9851?locale=en-CA",
      "flashvar": "playerForm=b3580168bcda4cb79e78e4b534f6c84e\u0026autoplay=false\u0026mediaId=551eeac3d6d84c03b0de3868d4269842",
      "date": "March 7, 2014"
    },
    {
      "title": "Trading in Slow Market Conditions",
      "full_title": "WDIS Season 2: Tom \u0026 Case: Trading in Slow Market Conditions",
      "media_id": "2e27356163e74610a1934198f40e0553",
      "image": "https://s3.amazonaws.com/tastytradepublicmedia/show/87/episode/9814/image/medium/WDIS_140306_VOD.jpg?1394138601",
      "link": "https://www.tastytrade.com/tt/shows/wdis-season-2-tom-case/episodes/9814?locale=en-CA",
      "flashvar": "playerForm=b3580168bcda4cb79e78e4b534f6c84e\u0026autoplay=false\u0026mediaId=2e27356163e74610a1934198f40e0553",
      "date": "March 6, 2014"
    },
    {
      "title": "Calendar Spreads vs. Debit Spreads",
      "full_title": "WDIS Season 2: Tom \u0026 Case: Calendar Spreads vs. Debit Spreads",
      "media_id": "132d5ad7f4b14f1da6714858fdf168c3",
      "image": "https://s3.amazonaws.com/tastytradepublicmedia/show/87/episode/9774/image/medium/WDIS_140305_VOD.jpg?1394052367",
      "link": "https://www.tastytrade.com/tt/shows/wdis-season-2-tom-case/episodes/9774?locale=en-CA",
      "flashvar": "playerForm=b3580168bcda4cb79e78e4b534f6c84e\u0026autoplay=false\u0026mediaId=132d5ad7f4b14f1da6714858fdf168c3",
      "date": "March 5, 2014"
    },
    {
      "title": "Using SPY to Hedge /ES",
      "full_title": "WDIS Season 2: Tom \u0026 Case: Using SPY to Hedge /ES",
      "media_id": "9d2b2e21b0344289ac4c860bbc7b8956",
      "image": "https://s3.amazonaws.com/tastytradepublicmedia/show/87/episode/9737/image/medium/WDIS_Show_140304_VOD.jpg?1393965733",
      "link": "https://www.tastytrade.com/tt/shows/wdis-season-2-tom-case/episodes/9737?locale=en-CA",
      "flashvar": "playerForm=b3580168bcda4cb79e78e4b534f6c84e\u0026autoplay=false\u0026mediaId=9d2b2e21b0344289ac4c860bbc7b8956",
      "date": "March 4, 2014"
    },
    {
      "title": "/ES \u0026 /NQ Breakdown",
      "full_title": "WDIS Season 2: Tom \u0026 Case: /ES \u0026 /NQ Breakdown",
      "media_id": "f8e6c6dd66e447c68423adf711ab8fb3",
      "image": "https://s3.amazonaws.com/tastytradepublicmedia/show/87/episode/9700/image/medium/WDIS_Show_140303_VOD.jpg?1393877804",
      "link": "https://www.tastytrade.com/tt/shows/wdis-season-2-tom-case/episodes/9700?locale=en-CA",
      "flashvar": "playerForm=b3580168bcda4cb79e78e4b534f6c84e\u0026autoplay=false\u0026mediaId=f8e6c6dd66e447c68423adf711ab8fb3",
      "date": "March 3, 2014"
    },
    {
      "title": "Futures \u0026 ETF Relationships",
      "full_title": "WDIS Season 2: Tom \u0026 Case: Futures \u0026 ETF Relationships",
      "media_id": "09c1ac2551b24e199e1280aa047a1f2e",
      "image": "https://s3.amazonaws.com/tastytradepublicmedia/show/87/episode/9670/image/medium/WDIS_Show_140228_VOD.jpg?1393622781",
      "link": "https://www.tastytrade.com/tt/shows/wdis-season-2-tom-case/episodes/9670?locale=en-CA",
      "flashvar": "playerForm=b3580168bcda4cb79e78e4b534f6c84e\u0026autoplay=false\u0026mediaId=09c1ac2551b24e199e1280aa047a1f2e",
      "date": "February 28, 2014"
    },
    {
      "title": "Applying Leverage",
      "full_title": "WDIS Season 2: Tom \u0026 Case: Applying Leverage",
      "media_id": "0a32fb4aab3e4e62ae4b2b8eead1e648",
      "image": "https://s3.amazonaws.com/tastytradepublicmedia/show/87/episode/9629/image/medium/WDIS_Show_140227_VOD.jpg?1393535106",
      "link": "https://www.tastytrade.com/tt/shows/wdis-season-2-tom-case/episodes/9629?locale=en-CA",
      "flashvar": "playerForm=b3580168bcda4cb79e78e4b534f6c84e\u0026autoplay=false\u0026mediaId=0a32fb4aab3e4e62ae4b2b8eead1e648",
      "date": "February 27, 2014"
    },
    {
      "title": "First Trade in Market Extremes",
      "full_title": "WDIS Season 2: Tom \u0026 Case: First Trade in Market Extremes",
      "media_id": "4d5de53d9cb94b3a90b2cf9920d140bb",
      "image": "https://s3.amazonaws.com/tastytradepublicmedia/show/87/episode/9590/image/medium/WDIS_Show_140226_VOD.jpg?1393446024",
      "link": "https://www.tastytrade.com/tt/shows/wdis-season-2-tom-case/episodes/9590?locale=en-CA",
      "flashvar": "playerForm=b3580168bcda4cb79e78e4b534f6c84e\u0026autoplay=false\u0026mediaId=4d5de53d9cb94b3a90b2cf9920d140bb",
      "date": "February 26, 2014"
    },
    {
      "title": "Trade Strategies in Market Highs",
      "full_title": "WDIS Season 2: Tom \u0026 Case: Trade Strategies in Market Highs",
      "media_id": "1109d42432c349d0a94168ac28a3c884",
      "image": "https://s3.amazonaws.com/tastytradepublicmedia/show/87/episode/9554/image/medium/WDIS_Seg_140225_VOD.jpg?1393360900",
      "link": "https://www.tastytrade.com/tt/shows/wdis-season-2-tom-case/episodes/9554?locale=en-CA",
      "flashvar": "playerForm=b3580168bcda4cb79e78e4b534f6c84e\u0026autoplay=false\u0026mediaId=1109d42432c349d0a94168ac28a3c884",
      "date": "February 25, 2014"
    },
    {
      "title": "AAPL Calendar Spread",
      "full_title": "WDIS Season 2: Tom \u0026 Case: AAPL Calendar Spread",
      "media_id": "d6b8a56dc0d0419c976e800f4272ba57",
      "image": "https://s3.amazonaws.com/tastytradepublicmedia/show/87/episode/9516/image/medium/WDIS_Show_140224_VOD.jpg?1393274595",
      "link": "https://www.tastytrade.com/tt/shows/wdis-season-2-tom-case/episodes/9516?locale=en-CA",
      "flashvar": "playerForm=b3580168bcda4cb79e78e4b534f6c84e\u0026autoplay=false\u0026mediaId=d6b8a56dc0d0419c976e800f4272ba57",
      "date": "February 24, 2014"
    },
    {
      "title": "Gamma Explained",
      "full_title": "WDIS Season 2: Tom \u0026 Case: Gamma Explained",
      "media_id": "cf88f45cfc2e48a7b211df1c399b0393",
      "image": "https://s3.amazonaws.com/tastytradepublicmedia/show/87/episode/9479/image/medium/WDIS_Show_140221_VOD.jpg?1393017610",
      "link": "https://www.tastytrade.com/tt/shows/wdis-season-2-tom-case/episodes/9479?locale=en-CA",
      "flashvar": "playerForm=b3580168bcda4cb79e78e4b534f6c84e\u0026autoplay=false\u0026mediaId=cf88f45cfc2e48a7b211df1c399b0393",
      "date": "February 21, 2014"
    },
    {
      "title": "VZ Skewed Bearish Iron Condor",
      "full_title": "WDIS Season 2: Tom \u0026 Case: VZ Skewed Bearish Iron Condor",
      "media_id": "df9ff2666cee4631a2d38f0c3d70a509",
      "image": "https://s3.amazonaws.com/tastytradepublicmedia/show/87/episode/9443/image/medium/wdis_seg_140220_vod.jpg?1393279399",
      "link": "https://www.tastytrade.com/tt/shows/wdis-season-2-tom-case/episodes/9443?locale=en-CA",
      "flashvar": "playerForm=b3580168bcda4cb79e78e4b534f6c84e\u0026autoplay=false\u0026mediaId=df9ff2666cee4631a2d38f0c3d70a509",
      "date": "February 20, 2014"
    },
    {
      "title": "Skewed ICs in High \u0026 Low IV",
      "full_title": "WDIS Season 2: Tom \u0026 Case: Skewed ICs in High \u0026 Low IV",
      "media_id": "6d4bb30dd9f644f08ab8e56937a14c54",
      "image": "https://s3.amazonaws.com/tastytradepublicmedia/show/87/episode/9404/image/medium/WDIS_Show_140219_VOD.jpg?1392842058",
      "link": "https://www.tastytrade.com/tt/shows/wdis-season-2-tom-case/episodes/9404?locale=en-CA",
      "flashvar": "playerForm=b3580168bcda4cb79e78e4b534f6c84e\u0026autoplay=false\u0026mediaId=6d4bb30dd9f644f08ab8e56937a14c54",
      "date": "February 19, 2014"
    },
    {
      "title": "Asset Extremes",
      "full_title": "WDIS Season 2: Tom \u0026 Case: Asset Extremes",
      "media_id": "8a865624c114432c9e46191880ae49ef",
      "image": "https://s3.amazonaws.com/tastytradepublicmedia/show/87/episode/9367/image/medium/wdis_show_140218_vod.jpg?1393279540",
      "link": "https://www.tastytrade.com/tt/shows/wdis-season-2-tom-case/episodes/9367?locale=en-CA",
      "flashvar": "playerForm=b3580168bcda4cb79e78e4b534f6c84e\u0026autoplay=false\u0026mediaId=8a865624c114432c9e46191880ae49ef",
      "date": "February 18, 2014"
    },
    {
      "title": "Ratios \u0026 Ratio Spreads",
      "full_title": "WDIS Season 2: Tom \u0026 Case: Ratios \u0026 Ratio Spreads",
      "media_id": "6a73fbceb9d8499cbc3597f84fb7d0b1",
      "image": "https://s3.amazonaws.com/tastytradepublicmedia/show/87/episode/9299/image/medium/WDIS_Show_140213_VOD.jpg?1392323138",
      "link": "https://www.tastytrade.com/tt/shows/wdis-season-2-tom-case/episodes/9299?locale=en-CA",
      "flashvar": "playerForm=b3580168bcda4cb79e78e4b534f6c84e\u0026autoplay=false\u0026mediaId=6a73fbceb9d8499cbc3597f84fb7d0b1",
      "date": "February 13, 2014"
    },
    {
      "title": "UVXY Put Spread",
      "full_title": "WDIS Season 2: Tom \u0026 Case: UVXY Put Spread",
      "media_id": "32caba366bd248da9b756d3ff6374d16",
      "image": "https://s3.amazonaws.com/tastytradepublicmedia/show/87/episode/9267/image/medium/WDIS_Show_140212_VOD.jpg?1392237314",
      "link": "https://www.tastytrade.com/tt/shows/wdis-season-2-tom-case/episodes/9267?locale=en-CA",
      "flashvar": "playerForm=b3580168bcda4cb79e78e4b534f6c84e\u0026autoplay=false\u0026mediaId=32caba366bd248da9b756d3ff6374d16",
      "date": "February 12, 2014"
    },
    {
      "title": "Taking a Leg in UNG",
      "full_title": "WDIS Season 2: Tom \u0026 Case: Taking a Leg in UNG",
      "media_id": "fb39a2afef5144aeae004ed2c530eb65",
      "image": "https://s3.amazonaws.com/tastytradepublicmedia/show/87/episode/9222/image/medium/WDIS_Show_140211_VOD.jpg?1392150857",
      "link": "https://www.tastytrade.com/tt/shows/wdis-season-2-tom-case/episodes/9222?locale=en-CA",
      "flashvar": "playerForm=b3580168bcda4cb79e78e4b534f6c84e\u0026autoplay=false\u0026mediaId=fb39a2afef5144aeae004ed2c530eb65",
      "date": "February 11, 2014"
    },
    {
      "title": "IV% Rich ETFs",
      "full_title": "WDIS Season 2: Tom \u0026 Case: IV% Rich ETFs",
      "media_id": "4b5911e6779e4f3696773fce382b73e8",
      "image": "https://s3.amazonaws.com/tastytradepublicmedia/show/87/episode/9186/image/medium/WDIS_Show_140210_VOD.jpg?1392064802",
      "link": "https://www.tastytrade.com/tt/shows/wdis-season-2-tom-case/episodes/9186?locale=en-CA",
      "flashvar": "playerForm=b3580168bcda4cb79e78e4b534f6c84e\u0026autoplay=false\u0026mediaId=4b5911e6779e4f3696773fce382b73e8",
      "date": "February 10, 2014"
    },
    {
      "title": "VIX is the New Commodity",
      "full_title": "WDIS Season 2: Tom \u0026 Case: VIX is the New Commodity",
      "media_id": "b2d628e4bd934058b85d942a933c332f",
      "image": "https://s3.amazonaws.com/tastytradepublicmedia/show/87/episode/9151/image/medium/WDIS2_Show_140207_VOD.jpg?1391806937",
      "link": "https://www.tastytrade.com/tt/shows/wdis-season-2-tom-case/episodes/9151?locale=en-CA",
      "flashvar": "playerForm=b3580168bcda4cb79e78e4b534f6c84e\u0026autoplay=false\u0026mediaId=b2d628e4bd934058b85d942a933c332f",
      "date": "February 7, 2014"
    },
    {
      "title": "Getting Long the VIX",
      "full_title": "WDIS Season 2: Tom \u0026 Case: Getting Long the VIX",
      "media_id": "002f263eef3c400489cd041c5afaf077",
      "image": "https://s3.amazonaws.com/tastytradepublicmedia/show/87/episode/9113/image/medium/WDIS_Show_140206_VOD.jpg?1391719363",
      "link": "https://www.tastytrade.com/tt/shows/wdis-season-2-tom-case/episodes/9113?locale=en-CA",
      "flashvar": "playerForm=b3580168bcda4cb79e78e4b534f6c84e\u0026autoplay=false\u0026mediaId=002f263eef3c400489cd041c5afaf077",
      "date": "February 6, 2014"
    },
    {
      "title": "TWTR Earnings Play",
      "full_title": "WDIS Season 2: Tom \u0026 Case: TWTR Earnings Play",
      "media_id": "47312d34b569480eab1bc5ff9b8bf872",
      "image": "https://s3.amazonaws.com/tastytradepublicmedia/show/87/episode/9076/image/medium/WDIS2_Show_140205_VOD.jpg?1391631938",
      "link": "https://www.tastytrade.com/tt/shows/wdis-season-2-tom-case/episodes/9076?locale=en-CA",
      "flashvar": "playerForm=b3580168bcda4cb79e78e4b534f6c84e\u0026autoplay=false\u0026mediaId=47312d34b569480eab1bc5ff9b8bf872",
      "date": "February 5, 2014"
    },
    {
      "title": "BIDU Sunny Side Up ",
      "full_title": "WDIS Season 2: Tom \u0026 Case: BIDU Sunny Side Up ",
      "media_id": "b7c44de5a8e648d39ff0dc05adedbedb",
      "image": "https://s3.amazonaws.com/tastytradepublicmedia/show/87/episode/9041/image/medium/WDIS_Show_140204_VOD.jpg?1391546091",
      "link": "https://www.tastytrade.com/tt/shows/wdis-season-2-tom-case/episodes/9041?locale=en-CA",
      "flashvar": "playerForm=b3580168bcda4cb79e78e4b534f6c84e\u0026autoplay=false\u0026mediaId=b7c44de5a8e648d39ff0dc05adedbedb",
      "date": "February 4, 2014"
    },
    {
      "title": "Expiring Weekly Trades",
      "full_title": "WDIS Season 2: Tom \u0026 Case: Expiring Weekly Trades",
      "media_id": "c22f32a5653c4bc28a1858905ece52b3",
      "image": "https://s3.amazonaws.com/tastytradepublicmedia/show/87/episode/8933/image/medium/WDIS2_Show_140130_VOD.jpg?1391701797",
      "link": "https://www.tastytrade.com/tt/shows/wdis-season-2-tom-case/episodes/8933?locale=en-CA",
      "flashvar": "playerForm=b3580168bcda4cb79e78e4b534f6c84e\u0026autoplay=false\u0026mediaId=c22f32a5653c4bc28a1858905ece52b3",
      "date": "January 30, 2014"
    },
    {
      "title": "Back Month IV Contraction",
      "full_title": "WDIS Season 2: Tom \u0026 Case: Back Month IV Contraction",
      "media_id": "c46721399b0b4561ae2bf9f7a2873906",
      "image": "https://s3.amazonaws.com/tastytradepublicmedia/show/87/episode/8896/image/medium/WDIS_Show_140129_VOD.jpg?1391028231",
      "link": "https://www.tastytrade.com/tt/shows/wdis-season-2-tom-case/episodes/8896?locale=en-CA",
      "flashvar": "playerForm=b3580168bcda4cb79e78e4b534f6c84e\u0026autoplay=false\u0026mediaId=c46721399b0b4561ae2bf9f7a2873906",
      "date": "January 29, 2014"
    },
    {
      "title": "Back Month Earnings Play",
      "full_title": "WDIS Season 2: Tom \u0026 Case: Back Month Earnings Play",
      "media_id": "c91d7ee1ad684beeaa602000a80f22f1",
      "image": "https://s3.amazonaws.com/tastytradepublicmedia/show/87/episode/8860/image/medium/WDIS2_Show_140128_VOD.jpg?1390940958",
      "link": "https://www.tastytrade.com/tt/shows/wdis-season-2-tom-case/episodes/8860?locale=en-CA",
      "flashvar": "playerForm=b3580168bcda4cb79e78e4b534f6c84e\u0026autoplay=false\u0026mediaId=c91d7ee1ad684beeaa602000a80f22f1",
      "date": "January 28, 2014"
    },
    {
      "title": "AAPL Earnings",
      "full_title": "WDIS Season 2: Tom \u0026 Case: AAPL Earnings",
      "media_id": "01c2e09448644d629fa7ca50c6a929e4",
      "image": "https://s3.amazonaws.com/tastytradepublicmedia/show/87/episode/8824/image/medium/wdis_show_140127_vod.jpg?1390856190",
      "link": "https://www.tastytrade.com/tt/shows/wdis-season-2-tom-case/episodes/8824?locale=en-CA",
      "flashvar": "playerForm=b3580168bcda4cb79e78e4b534f6c84e\u0026autoplay=false\u0026mediaId=01c2e09448644d629fa7ca50c6a929e4",
      "date": "January 27, 2014"
    },
    {
      "title": "Short Term Fear in the VIX",
      "full_title": "WDIS Season 2: Tom \u0026 Case: Short Term Fear in the VIX",
      "media_id": "801f2e75ff10496da3c300654621d0c7",
      "image": "https://s3.amazonaws.com/tastytradepublicmedia/show/87/episode/8781/image/medium/open-uri20140224-21998-1ti2a4k.jpg?1393278970",
      "link": "https://www.tastytrade.com/tt/shows/wdis-season-2-tom-case/episodes/8781?locale=en-CA",
      "flashvar": "playerForm=b3580168bcda4cb79e78e4b534f6c84e\u0026autoplay=false\u0026mediaId=801f2e75ff10496da3c300654621d0c7",
      "date": "January 24, 2014"
    },
    {
      "title": "VIX \u0026 /VX",
      "full_title": "WDIS Season 2: Tom \u0026 Case: VIX \u0026 /VX",
      "media_id": "5ec9d381e92d441a87ec5ec48de80732",
      "image": "https://s3.amazonaws.com/tastytradepublicmedia/show/87/episode/8743/image/medium/open-uri20140224-21998-wvoj2t.jpg?1393278977",
      "link": "https://www.tastytrade.com/tt/shows/wdis-season-2-tom-case/episodes/8743?locale=en-CA",
      "flashvar": "playerForm=b3580168bcda4cb79e78e4b534f6c84e\u0026autoplay=false\u0026mediaId=5ec9d381e92d441a87ec5ec48de80732",
      "date": "January 23, 2014"
    },
    {
      "title": "UNG Strangle",
      "full_title": "WDIS Season 2: Tom \u0026 Case: UNG Strangle",
      "media_id": "ddff67b9b80d4e9284833346ffd88765",
      "image": "https://s3.amazonaws.com/tastytradepublicmedia/show/87/episode/8706/image/medium/open-uri20140224-21998-8fajf.jpg?1393278983",
      "link": "https://www.tastytrade.com/tt/shows/wdis-season-2-tom-case/episodes/8706?locale=en-CA",
      "flashvar": "playerForm=b3580168bcda4cb79e78e4b534f6c84e\u0026autoplay=false\u0026mediaId=ddff67b9b80d4e9284833346ffd88765",
      "date": "January 22, 2014"
    },
    {
      "title": "Futures Q \u0026 A",
      "full_title": "WDIS Season 2: Tom \u0026 Case: Futures Q \u0026 A",
      "media_id": "6ce36f6337bd45eebcdcf0860ebb16e8",
      "image": "https://s3.amazonaws.com/tastytradepublicmedia/show/87/episode/8669/image/medium/open-uri20140224-21998-1wxnwlo.jpg?1393278990",
      "link": "https://www.tastytrade.com/tt/shows/wdis-season-2-tom-case/episodes/8669?locale=en-CA",
      "flashvar": "playerForm=b3580168bcda4cb79e78e4b534f6c84e\u0026autoplay=false\u0026mediaId=6ce36f6337bd45eebcdcf0860ebb16e8",
      "date": "January 21, 2014"
    },
    {
      "title": "Futures Dissection",
      "full_title": "WDIS Season 2: Tom \u0026 Case: Futures Dissection",
      "media_id": "2e48d99d4702488a873d3e6a38a1f603",
      "image": "https://s3.amazonaws.com/tastytradepublicmedia/show/87/episode/8641/image/medium/open-uri20140224-21998-1s6ii85.jpg?1393278996",
      "link": "https://www.tastytrade.com/tt/shows/wdis-season-2-tom-case/episodes/8641?locale=en-CA",
      "flashvar": "playerForm=b3580168bcda4cb79e78e4b534f6c84e\u0026autoplay=false\u0026mediaId=2e48d99d4702488a873d3e6a38a1f603",
      "date": "January 17, 2014"
    },
    {
      "title": "Futures Size, Points \u0026 Ticks",
      "full_title": "WDIS Season 2: Tom \u0026 Case: Futures Size, Points \u0026 Ticks",
      "media_id": "23e1b88f8632446d816339cff058824a",
      "image": "https://s3.amazonaws.com/tastytradepublicmedia/show/87/episode/8611/image/medium/open-uri20140224-21998-7sdu9d.jpg?1393279003",
      "link": "https://www.tastytrade.com/tt/shows/wdis-season-2-tom-case/episodes/8611?locale=en-CA",
      "flashvar": "playerForm=b3580168bcda4cb79e78e4b534f6c84e\u0026autoplay=false\u0026mediaId=23e1b88f8632446d816339cff058824a",
      "date": "January 16, 2014"
    },
    {
      "title": "Futures Symbols Breakdown",
      "full_title": "WDIS Season 2: Tom \u0026 Case: Futures Symbols Breakdown",
      "media_id": "414f3116b4774ce49cced0aaa1064b8d",
      "image": "https://s3.amazonaws.com/tastytradepublicmedia/show/87/episode/8580/image/medium/open-uri20140224-21998-lywhaw.jpg?1393279010",
      "link": "https://www.tastytrade.com/tt/shows/wdis-season-2-tom-case/episodes/8580?locale=en-CA",
      "flashvar": "playerForm=b3580168bcda4cb79e78e4b534f6c84e\u0026autoplay=false\u0026mediaId=414f3116b4774ce49cced0aaa1064b8d",
      "date": "January 15, 2014"
    },
    {
      "title": "LNKD Ratio Spread",
      "full_title": "WDIS Season 2: Tom \u0026 Case: LNKD Ratio Spread",
      "media_id": "2034d87f0a9a4bf0a45eb3ee01cf7b57",
      "image": "https://s3.amazonaws.com/tastytradepublicmedia/show/87/episode/8544/image/medium/open-uri20140224-21998-12qtnj.jpg?1393279016",
      "link": "https://www.tastytrade.com/tt/shows/wdis-season-2-tom-case/episodes/8544?locale=en-CA",
      "flashvar": "playerForm=b3580168bcda4cb79e78e4b534f6c84e\u0026autoplay=false\u0026mediaId=2034d87f0a9a4bf0a45eb3ee01cf7b57",
      "date": "January 14, 2014"
    },
    {
      "title": "Choosing Futures to Trade",
      "full_title": "WDIS Season 2: Tom \u0026 Case: Choosing Futures to Trade",
      "media_id": "35711921a79b4a1d88e06f5b2432d290",
      "image": "https://s3.amazonaws.com/tastytradepublicmedia/show/87/episode/8518/image/medium/open-uri20140224-21998-h96a6g.jpg?1393279022",
      "link": "https://www.tastytrade.com/tt/shows/wdis-season-2-tom-case/episodes/8518?locale=en-CA",
      "flashvar": "playerForm=b3580168bcda4cb79e78e4b534f6c84e\u0026autoplay=false\u0026mediaId=35711921a79b4a1d88e06f5b2432d290",
      "date": "\u003c/p\u003e"
    },
    {
      "title": "Futures Contracts",
      "full_title": "WDIS Season 2: Tom \u0026 Case: Futures Contracts",
      "media_id": "a0d98131b7f84127b354f324f53a0088",
      "image": "https://s3.amazonaws.com/tastytradepublicmedia/show/87/episode/8486/image/medium/open-uri20140224-21998-1xpf12n.jpg?1393279030",
      "link": "https://www.tastytrade.com/tt/shows/wdis-season-2-tom-case/episodes/8486?locale=en-CA",
      "flashvar": "playerForm=b3580168bcda4cb79e78e4b534f6c84e\u0026autoplay=false\u0026mediaId=a0d98131b7f84127b354f324f53a0088",
      "date": "January 10, 2014"
    },
    {
      "title": "Introduction to the Futures Market, pt. 2",
      "full_title": "WDIS Season 2: Tom \u0026 Case: Introduction to the Futures Market, pt. 2",
      "media_id": "76f44613ecd640288d8a9961e0e251f2",
      "image": "https://s3.amazonaws.com/tastytradepublicmedia/show/87/episode/8449/image/medium/open-uri20140224-21998-z5614c.jpg?1393279037",
      "link": "https://www.tastytrade.com/tt/shows/wdis-season-2-tom-case/episodes/8449?locale=en-CA",
      "flashvar": "playerForm=b3580168bcda4cb79e78e4b534f6c84e\u0026autoplay=false\u0026mediaId=76f44613ecd640288d8a9961e0e251f2",
      "date": "January 9, 2014"
    },
    {
      "title": "Introduction to the Futures Market",
      "full_title": "WDIS Season 2: Tom \u0026 Case: Introduction to the Futures Market",
      "media_id": "fee8ded111a442d683cf52969f82ca2f",
      "image": "https://s3.amazonaws.com/tastytradepublicmedia/show/87/episode/8419/image/medium/open-uri20140224-21998-a6k4dr.jpg?1393279045",
      "link": "https://www.tastytrade.com/tt/shows/wdis-season-2-tom-case/episodes/8419?locale=en-CA",
      "flashvar": "playerForm=b3580168bcda4cb79e78e4b534f6c84e\u0026autoplay=false\u0026mediaId=fee8ded111a442d683cf52969f82ca2f",
      "date": "January 8, 2014"
    },
    {
      "title": "Big Dawg Butterfly in Pandora",
      "full_title": "WDIS Season 2: Tom \u0026 Case: Big Dawg Butterfly in Pandora",
      "media_id": "24190d0bae38406cb705346a04c4a58b",
      "image": "https://s3.amazonaws.com/tastytradepublicmedia/show/87/episode/8387/image/medium/open-uri20140224-21998-1bb3ezf.jpg?1393279052",
      "link": "https://www.tastytrade.com/tt/shows/wdis-season-2-tom-case/episodes/8387?locale=en-CA",
      "flashvar": "playerForm=b3580168bcda4cb79e78e4b534f6c84e\u0026autoplay=false\u0026mediaId=24190d0bae38406cb705346a04c4a58b",
      "date": "January 7, 2014"
    },
    {
      "title": "Reverse Jade Lizard in FB",
      "full_title": "WDIS Season 2: Tom \u0026 Case: Reverse Jade Lizard in FB",
      "media_id": "48fbc8e950d04e129414c82e19d0d0da",
      "image": "https://s3.amazonaws.com/tastytradepublicmedia/show/87/episode/8353/image/medium/open-uri20140224-21998-hu5rw4.jpg?1393279060",
      "link": "https://www.tastytrade.com/tt/shows/wdis-season-2-tom-case/episodes/8353?locale=en-CA",
      "flashvar": "playerForm=b3580168bcda4cb79e78e4b534f6c84e\u0026autoplay=false\u0026mediaId=48fbc8e950d04e129414c82e19d0d0da",
      "date": "January 6, 2014"
    },
    {
      "title": "Vol Skew \u0026 Reverse Vol Skew",
      "full_title": "WDIS Season 2: Tom \u0026 Case: Vol Skew \u0026 Reverse Vol Skew",
      "media_id": "4e79578da8604fadb30780a5cc95fbd5",
      "image": "https://s3.amazonaws.com/tastytradepublicmedia/show/87/episode/8327/image/medium/open-uri20140224-21998-1r0zz4t.jpg?1393279068",
      "link": "https://www.tastytrade.com/tt/shows/wdis-season-2-tom-case/episodes/8327?locale=en-CA",
      "flashvar": "playerForm=b3580168bcda4cb79e78e4b534f6c84e\u0026autoplay=false\u0026mediaId=4e79578da8604fadb30780a5cc95fbd5",
      "date": "January 3, 2014"
    },
    {
      "title": "Strategic Skew",
      "full_title": "WDIS Season 2: Tom \u0026 Case: Strategic Skew",
      "media_id": "842e3b9ca6d04b769f67fc1c6e480cb4",
      "image": "https://s3.amazonaws.com/tastytradepublicmedia/show/87/episode/8295/image/medium/open-uri20140224-21998-1f3zkc2.jpg?1393279075",
      "link": "https://www.tastytrade.com/tt/shows/wdis-season-2-tom-case/episodes/8295?locale=en-CA",
      "flashvar": "playerForm=b3580168bcda4cb79e78e4b534f6c84e\u0026autoplay=false\u0026mediaId=842e3b9ca6d04b769f67fc1c6e480cb4",
      "date": "January 2, 2014"
    }
  ];
  this.index = this.mm.length-2;

  function limelightPlayerCallback(playerId, eventName, data) {
    var id = "limelight_player_156792";
    if (eventName == 'onPlayerLoad' && (LimelightPlayer.getPlayers() == null || LimelightPlayer.getPlayers().length == 0)) {
      LimelightPlayer.registerPlayer(id);
    }

    switch (eventName) {
      case 'onPlayerLoad':
        doOnPlayerLoad();
        break;

      case 'onChannelLoad':
        doOnChannelLoad(data);
        break;

      case 'onMediaLoad':
        doOnMediaLoad(data);
        break;

      case 'onPlayStateChanged':
        doOnPlayStateChanged(data);
        break;

      case 'onPlayheadUpdate':
        doOnPlayheadUpdate(data);
        break;

      case 'onMediaComplete':
        doOnMediaComplete();
        break;
    }
  }

  function doOnPlayerLoad() {
    document.getElementById('state').innerHTML = "paused"
  }

  function doOnChannelLoad(e) {
    document.getElementById('channelTitle').innerHTML = e.title;
    document.getElementById('state').innerHTML = "paused"

    //create a dynamic playlist of media in the channel
    if (e.mediaList && e.mediaList.length > 0) {

    	var playlistHTML = "";

    	for (var i = 0; i < e.mediaList.length; i++) {
      		var media = e.mediaList[i];
      		if (media) {

      			playlistHTML += '<div style="float:left; width:220px; margin-left:10px; margin-right:10px; margin-top:20px; margin-bottom:20px">';
      			playlistHTML += '<a href="javascript:onPlaylistItemClick(\'' + media.id + '\');">';
      			playlistHTML += '<img width="200" border="1" src="' + media.thumbnailUrl + '"/>';
      			playlistHTML += '<b>' + media.title + '<b /><br />';
       			playlistHTML += '</a>';
      			playlistHTML += '</div>';
			}
		}

        playlistHTML += '<br style="clear:both;" />';

        var playlistBox = document.getElementById('playlist-box').innerHTML = playlistHTML;
    }
  }

  function onPlaylistItemClick(mediaId) {
     LimelightPlayer.doSetMedia(mediaId, true);
  }

  function doOnMediaLoad(e) {

  }

  function doOnPlayStateChanged(e) {

    var play_state;

    if (e.isBusy) {
        play_state = "buffering";
    } else if (e.isPlaying) {
    	play_state = "playing";
    } else {
    	play_state = "paused";
    }

    document.getElementById('state').innerHTML = play_state;

  }

  function doOnPlayheadUpdate(e) {
  }

  function doOnMediaComplete() {
    loadNext();
  }

  function loadNext() {
    this.index = (this.index -1) % this.mm.length;
    if (this.index < 0)
    {
      this.index = this.mm.length-1;
    }
    console.log(this.index)
    console.log(this.mm[this.index]['media_id'])
    document.getElementById('title').innerHTML = this.mm[this.index]['full_title']
    document.getElementById('date').innerHTML = this.mm[this.index]['date']
    document.getElementById('index').innerHTML = this.index

    LimelightPlayer.doLoadMedia(this.mm[this.index]['media_id'], true, 0);
  }

  function loadPrev() {
    this.index = (this.index +1) % this.mm.length;

    console.log(this.index)
    console.log(this.mm[this.index]['media_id'])
    document.getElementById('title').innerHTML = this.mm[this.index]['full_title']
    document.getElementById('date').innerHTML = this.mm[this.index]['date']
    document.getElementById('index').innerHTML = this.index

    LimelightPlayer.doLoadMedia(this.mm[this.index]['media_id'], true, 0);
  }

</script>

<style type="text/css"></style><style>img.chromoji { width:1em !important; height:1em !important; }.chromoji-font, #chromoji-font { font-size:1em !important; }</style></head><body>

<span class="LimelightEmbeddedPlayer">
<script src="http://s.delvenetworks.com/deployments/embed-code/embed-code-1.6/embed.js"></script><object type="application/x-shockwave-flash" id="limelight_player_156792" name="limelight_player_156792" class="LimelightEmbeddedPlayerFlash" width="480" height="321" data="http://video.limelight.com/player/loader.swf">
  <param name="movie" value="http://video.limelight.com/player/loader.swf"><param name="wmode" value="window">
  <param name="allowScriptAccess" value="always">
  <param name="allowFullScreen" value="true">
  <param name="flashVars" value="playerForm=Player&amp;deepLink=true&amp;autoplay=true&amp;mediaId=842e3b9ca6d04b769f67fc1c6e480cb4">
</object>
<script>LimelightPlayerUtil.initEmbed('limelight_player_156792');</script>
</span>

<br>
<input type="button" onclick="javascript:LimelightPlayer.doPlay();" value="Play">
<input type="button" onclick="javascript:LimelightPlayer.doPause();" value="Pause">
<input type="button" onclick="loadPrev();" value="Prev">
<input type="button" onclick="loadNext();" value="Next">
<br>
<span id="title">Tasty Trade</span>
<br>
<span id="date"></span>
<br>
<span id="index"></span>
<br>

</body></html>